<button class="Hitchhiker-ViewResultsButton">
  {{#if isNoResults}}
    {{ translate phrase='No results found.' }}
  {{else}}
    {{ translate phrase='View 1 Result' pluralForm='View [[resultsCount]] Results' resultsCount=resultsCount count=resultsCount }}
  {{/if}}
</button>