<button class="Hitchhiker-ViewResultsButton">
  {{#if isNoResults}}
    No results found.
  {{else}}
    View  {{resultsCount}} {{#ifeq resultsCount 1}}Result{{else}}Results{{/ifeq}}
  {{/if}}
</button>