// Add any font families here

// Example:
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('helveticaneue-bold-webfont.woff') format("woff");
//   font-weight: $font-weight-bold;
//   font-style: normal;
// }

@font-face
{
  font-family: "Open Sans";
  src: url('../../assets/fonts/opensans-regular-webfont.woff') format("woff");
  font-weight: $font-weight-normal;
  font-style: normal;
}

@font-face
{
  font-family: "Open Sans";
  src: url('../../assets/fonts/opensans-bold-webfont.woff') format("woff");
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face
{
  font-family: "Open Sans";
  src: url('../../assets/fonts/opensans-semibold-webfont.woff') format("woff");
  font-weight: $font-weight-semibold;
  font-style: normal;
}

