// This file contains styling mixins that are provided for convenience
// They are meant to be overridden or replaced

// Utility Mixins:

@import 'util/UtilityMixins';

@mixin u_styling {
  text-decoration: underline;
}

@mixin ul_styling
{
  list-style-type: initial;
  list-style-position: inside;
}

@mixin ol_styling
{
  list-style-type: decimal;
  list-style-position: inside;
}

@mixin strong_styling
{
  font-weight: $font-weight-bold;
}

@mixin em_styling
{
  font-style: italic;
}

@mixin rich_text_formatting
{
  ul
  {
    @include ul_styling;

    display: flex;
    flex-direction: column;
  }

  ol
  {
    @include ol_styling;

    display: flex;
    flex-direction: column;
  }

  strong
  {
    @include strong_styling;
  }

  em
  {
    @include em_styling;
  }
  
  u
  {
    @include u_styling;
  }
}