public/*
config/*
pages/*
cards/*
directanswercards/*
Gruntfile.js
package-lock.json
package.json
webpack-config.js

!cards/custom-cta-icons/
!cards/multilang-product-prominentvideo-custom/
!config/global_config.json
!config/locale_config.json
!config/index.json
!config/index.ar.json
!config/index.es.json
!pages/index.html.hbs
!public/iframe_test.html
!public/overlay.html