<div class="Answers-nav Answers-navigation js-answersNavigation" id="js-answersNavigation">
  <nav class="yxt-Nav-container js-yxt-navContainer ">
    <ul class="yxt-Nav-expanded" aria-label="Search Page Navigation">
      <li>
        {{!-- 
          This is a placeholder tab so that the placeholder nav bar
          takes the expected amount of space on the page
        --}}
        <a class="js-yxt-navItem yxt-Nav-item is-active"
          data-middleclick="active"
          data-eventtype="ALL_TAB_NAVIGATION"
          style="visibility: hidden;"
        >
          placeholder
        </a>
      </li>
    </ul>
  </nav>
</div>