<div class="Answers-search js-answersSearch" id="js-answersSearchBar">
  <div class="yxt-SearchBar">
    <div class="yxt-SearchBar-container">
      <form class="yxt-SearchBar-form">
        <input
          class="js-yext-query yxt-SearchBar-input"
          id="yxt-SearchBar-input--SearchBar"
          type="text"
          name="query"
        >
      </form>
    </div>
  </div>
</div>