.HitchhikerAccordionCard
{
  background-color: $color-brand-white;
  border-top: none;

  &-toggle
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: $base-spacing / 2 $base-spacing;
    padding-bottom: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover,
    &:focus
    {
      background-color: $color-background-highlight;
    }
  }

  &-toggle svg
  {
    height: 16px;
    width:  12px;
    color: $color-brand-primary;
  }

  &-title
  {
    @include Text(
      $size: $base-spacing,
      $color: $color-brand-primary,
      $line-height: $line-height-lg,
      $weight: $font-weight-normal,
    );
  }

  &-icon
  {
    display: flex;
    flex-shrink: 0;
  }

  &-icon svg
  {
    transform: rotate(90deg);
    transition: all 400ms ease-in-out;
  }

  &--expanded &-icon svg
  {
    transform: rotate(-90deg);
  }

  &-content
  {
    height: 0;
    transition: all 400ms ease-in-out;
    overflow: hidden;
  }

  &--expanded &-content
  {
    height: auto;
  }

  &-subtitle
  {
    font-size: $font-size-md;
    color: $text-secondary;
    padding-bottom: $base-spacing / 2;
  }

  &-details
  {
    @include rich_text_formatting;

    margin: $base-spacing / 2 $base-spacing;
    font-size: $font-size-md;
    color: $text-primary;
    line-height: $line-height-md;
  }

  &-details-toggle
  {
    margin-left: $base-spacing;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing / 2;
  }

  &-ctasWrapper
  {
    display: flex;
    flex-direction: column;
    margin: $base-spacing / 2 $base-spacing;
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-top: $base-spacing / 2;
  }

  .Hitchhiker-cta
  {
    flex-direction: row;
    padding: 0;

    &-iconWrapper
    {
      display: flex;
      padding-left: 0;
      padding-right: $base-spacing / 2;
    }

    &-iconLabel
    {
      margin-top: 0;
    }
  }
}
