@import "ctas";

.HitchhikerCard-details-toggle
{
    text-align: left;
    @include Text(
        $color: var(--yxt-color-brand-primary),
        $line-height: var(--yxt-line-height-md),
        $style: italic);
    @include TextButton($padding: 0);
}
