.HitchhikerCTA
{
  @include Link;

  display: flex;
  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $color-brand-primary;
  border-radius: .25rem;
  min-width: 3.75rem;

  &-iconWrapper
  {
    display: flex;
    padding-right: $base-spacing / 2;
  }

  &-iconLabel
  {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  &-icon
  {
    &,
    .Icon svg
    {
      width: 18px;
      height: 18px;
    }
  }
}