.Hitchhiker-cta
{
  @include Link;

  display: flex;
  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $color-brand-primary;
  border-radius: .25rem;
  min-width: 3.75rem;

  @media (min-width: $breakpoint-mobile-max)
  {
    flex-direction: column;
    padding: $base-spacing / 2;
  }

  &-iconWrapper
  {
    display: flex;
    padding-right: $base-spacing / 2;

    @media (min-width: $breakpoint-mobile-max)
    {
      justify-content: center;
      padding-left: $base-spacing * 2;
      padding-right: $base-spacing * 2;
    }
  }

  &-iconLabel
  {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    @media (min-width: $breakpoint-mobile-max)
    {
      margin-top: $base-spacing / 2;
    }
  }

  &-icon
  {
    &,
    .Icon svg
    {
      width: 18px;
      height: 18px;
    }
  }
}