.HitchhikerEventStandard
{
  background-color: var(--yxt-color-brand-white);
  padding: calc(var(--yxt-base-spacing) * 3/4) var(--yxt-base-spacing);
  display: flex;
  flex-direction: column;
  font-size: .875rem;
  width: 100%;
  height: 100%;

  &-dateWrapper
  {
    margin-right: var(--yxt-base-spacing);
  }

  &-dateInnerWrapper
  {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: var(--yxt-base-spacing);
    text-align: center;
    background-color: var(--yxt-color-background-highlight);
    min-width: 100px;
  }

  &-day
  {
    font-size: 40px;
    line-height: 1.2;
    font-weight: var(--yxt-font-weight-semibold);
  }

  &-month
  {
    font-size: 14px;
    line-height: 1.4;
    font-weight: var(--yxt-font-weight-normal);
  }

  &-wrapper
  {
    display: flex;
    width: 100%;
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include bpgte(sm)
    {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &-title
  {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
  }

  &-titleLink
  {
    @include Link;
  }

  &-subtitle
  {
    color: var(--yxt-color-text-secondary);
    padding-bottom: 0;
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }

  &-detailsText
  {
    margin-top: calc(var(--yxt-base-spacing) / 2);
    color: var(--yxt-color-text-primary);
  }

  &-content
  {
    line-height: 1.4;
  }

  &-ctasWrapper
  {
    text-transform: uppercase;
    margin-top: calc(var(--yxt-base-spacing) / 2);

    @include bpgte(sm)
    {
      margin-left: 1.5rem;
      margin-top: 0;
    }
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }

  .js-hidden
  {
    display: none;
  }
}
