.HitchhikerFaqAccordion
{
  background-color: var(--hh-color-brand-white);
  border-top: none;

  &-toggle
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: calc(var(--hh-base-spacing) / 2) var(--hh-base-spacing);
    padding-bottom: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover,
    &:focus
    {
      background-color: var(--hh-color-background-highlight);
    }
  }

  &-toggle svg
  {
    height: 16px;
    width:  12px;
    color: var(--hh-color-brand-primary);
  }

  &-title
  {
    @include Text(
      $size: var(--hh-base-spacing),
      $color: var(--hh-color-brand-primary),
      $line-height: var(--hh-line-height-lg),
      $weight: var(--hh-font-weight-semibold),
    );
  }

  &-icon
  {
    display: flex;
    flex-shrink: 0;
  }

  &-icon svg
  {
    transform: rotate(90deg);
    transition: all 400ms ease-in-out;
  }

  &--expanded &-icon svg
  {
    transform: rotate(-90deg);
  }

  &-content
  {
    height: 0;
    transition: all 400ms ease-in-out;
    overflow: hidden;
  }

  &--expanded &-content
  {
    height: auto;
  }

  &-subtitle
  {
    font-size: var(--hh-font-size-md);
    color: var(--hh-color-text-secondary);
    padding-bottom: calc(var(--hh-base-spacing) / 2);
    margin-left: var(--hh-base-spacing);
  }

  &-details
  {
    @include rich_text_formatting;

    margin: calc(var(--hh-base-spacing) / 2) var(--hh-base-spacing);
    font-size: var(--hh-font-size-md);
    color: var(--hh-color-text-primary);
    line-height: var(--hh-line-height-md);
  }

  &-details-toggle
  {
    margin-left: var(--hh-base-spacing);
    margin-right: var(--hh-base-spacing);
    margin-bottom: calc(var(--hh-base-spacing) / 2);
  }

  &-ctasWrapper
  {
    display: flex;
    flex-direction: column;
    margin: calc(var(--hh-base-spacing) / 2) var(--hh-base-spacing);
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-top: calc(var(--hh-base-spacing) / 2);
  }

  .HitchhikerCTA
  {
    flex-direction: row;
    padding: 0;

    &-iconWrapper
    {
      display: flex;
      padding-left: 0;
      padding-right: calc(var(--hh-base-spacing) / 2);
    }

    &-iconLabel
    {
      margin-top: 0;
    }
  }
}
