.HitchhikerLinkStandard
{
  display: flex;
  font-size: var(--hh-font-size-md);
  line-height: var(--hh-line-height-md);
  background-color: var(--hh-color-brand-white);
  padding: var(--hh-base-spacing);

  &-body
  {
    flex-grow: 1;
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $breakpoint-mobile-max)
    {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &-title
  {
    font-size: var(--hh-font-size-lg);
    line-height: var(--hh-line-height-lg);
    font-weight: var(--hh-font-weight-semibold);
  }

  &-titleLink
  {
    @include Link;

    &::after
    {
      content: "";
      background-image: url('../../assets/images/chevron.svg');
      background-repeat: no-repeat;
      background-position: 100%;
      height: 10px;
      width: 10px;
      display: inline-flex;
      margin-left: 4px;
    }
  }

  &-subtitle
  {
    color: var(--hh-color-text-secondary);
    padding-bottom: 0;
  }

  &-cardDetails
  {
    margin-top: calc(var(--hh-base-spacing) / 2);
  }

  &-detailsText
  {
    @include rich_text_formatting;

    br {
      display: none; // TODO (agrow) figure out a less hacky way to do this
    }
  }
}
