.HitchhikerLocationStandard
{
  $location-standard-base-spacing: $base-spacing !default;
  $location-standard-ordinal-dimensions: $location-standard-base-spacing * 9/8 !default;

  display: flex;
  font-size: .875rem;
  line-height: 1.4;
  background-color: $color-brand-white;
  padding: $location-standard-base-spacing;

  &-ordinal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: $location-standard-base-spacing * 1/4;
    margin-right: $location-standard-base-spacing * 3/4;
    width: $location-standard-ordinal-dimensions;
    height: $location-standard-ordinal-dimensions;
    background-color: $color-brand-primary;
    border: solid black 1px;
    text-align: center;
    @include Text(
      $color: white,
      $size: $font-size-xs,
      $line-height: $line-height-xs,
      $weight: $font-weight-bold,
    );
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-topRow
  {
    display: flex;
    justify-content: space-between;
  }

  &-title
  {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
  }

  &-titleLink
  {
    @include Link;
  }

  &-ordinalAndTitle
  {
    display: flex;
  }

  &-distance
  {
    font-style: italic;
  }

  &-subtitle
  {
    color: $color-text-secondary;
    padding-bottom: 0;
    margin-top: $location-standard-base-spacing / 2;
  }

  &-content
  {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-mobile-max)
    {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-imgWrapper
  {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 6.25rem;
    min-width: 6.25rem;
    margin-right: 1rem;
    margin-top: $location-standard-base-spacing / 2;
  }

  &-imgTagWrapper
  {
    position: absolute;
    opacity: 0;
  }

  &-contactInfo
  {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-mobile-max)
    {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &-core
  {
    margin-top: $location-standard-base-spacing / 2;

    @media (min-width: $breakpoint-mobile-max)
    {
      padding-right: $location-standard-base-spacing * 2;
    }
  }

  &-address
  {
    .c-AddressRow:last-child {
      display: none;
    }
  }

  &-phone
  {
    display: flex;
    font-weight: $font-weight-semibold;
    margin-top: $location-standard-base-spacing / 2;
  }

  &-phone--desktop {
    display: none;

    @media (min-width: $breakpoint-mobile-max)
    {
      display: flex;
    }
  }

  &-phone--mobile {
    @include Link;
    display: flex;

    @media (min-width: $breakpoint-mobile-max)
    {
      display: none;
    }
  }

  &-details
  {
    @include rich_text_formatting;
    margin-top: $location-standard-base-spacing / 2;
  }

  &-hoursText
  {
    margin-top: $location-standard-base-spacing / 2;
  }

  .Hours-statusText--current
  {
    font-weight: $font-weight-semibold;
  }

  &-services
  {
    flex-basis: 100%;
    margin-top: $location-standard-base-spacing / 2;
  }

  &-servicesLabel
  {
    font-weight: $font-weight-semibold;
    padding-right: 2px;
  }

  &-ctasWrapper
  {
    text-transform: uppercase;
    margin-top: $location-standard-base-spacing / 2;

    @media (min-width: $breakpoint-mobile-max)
    {
      margin-left: $location-standard-base-spacing / 2;
      justify-content: center;
    }
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-top: $location-standard-base-spacing / 2;
  }
}
