.HitchhikerMenuItemStandard
{
  display: flex;
  font-size: var(--hh-font-size-md);
  background-color: var(--hh-color-brand-white);
  padding: var(--hh-base-spacing);


  &-detailsText
  {
    @include rich_text_formatting;
  }

  &-contentCtasWrapper
  {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-mobile-max)
    {
      flex-direction: row;
    }
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $breakpoint-mobile-max)
    {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &-title
  {
    text-decoration: none;
    font-size: var(--hh-font-size-lg);
    line-height: var(--hh-line-height-lg);
    font-weight: var(--hh-font-weight-semibold);
    max-width: 100%;
    overflow-wrap: normal;
  }

  &-titleLink
  {
    @include Link;
  }

  &-subtitle
  {
    color: var(--hh-color-text-secondary);
    padding-bottom: 0;
    margin-bottom: calc(var(--hh-base-spacing) / 2);
  }

  &-listTitle
  {
    font-weight: var(--hh-font-weight-semibold);
  }

  &-listItems {
    padding-top: calc(var(--hh-base-spacing) / 4);
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: calc(var(--hh-base-spacing) / 2);
  }

  &-content
  {
    line-height: 1.4;
    margin-top: calc(var(--hh-base-spacing) / 2);
  }

  &-imgWrapper
  {
    display: flex;
    align-items: flex-start;
    min-width: 6.25rem;
    margin-right: 1rem;
    @media (max-width: $breakpoint-mobile-max)
    {
      max-width: 6.25rem;
    }
  }

  &-ctasWrapper
  {
    text-transform: uppercase;
    margin-top: calc(var(--hh-base-spacing) / 2);

    @media (min-width: $breakpoint-mobile-max)
    {
      margin-left: calc(var(--hh-base-spacing) / 2);
      justify-content: center;
    }
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-left: calc(var(--hh-base-spacing) / 2);
  }
}
