@mixin Text(
  $size: var(--hh-font-size-md),
  $line-height: var(--hh-line-height-xs),
  $weight: var(--hh-font-weight-normal),
  $style: normal,
  $color: var(--hh-color-text-primary)
) {
  font-family: var(--hh-font-family);
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin TextButton(
  $padding: 5px 10px,
  $focus-color: var(--hh-color-brand-hover)
) {
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: $padding;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: $focus-color;
      border: 1px solid $focus-color;
    }
  }
}

@mixin Link {
  color: var(--hh-color-brand-primary);

  &:hover,
  &:focus,
  &:active
  {
    color: var(--hh-color-brand-primary);
    text-decoration: underline;
  }
}
