@mixin Text(
  $size: $font-size-md,
  $line-height: $line-height-xs,
  $weight: $font-weight-normal,
  $style: normal,
  $color: $color-text-primary
) {
  font-family: $font-family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin TextButton(
  $padding: 5px 10px,
  $focus-color: $color-brand-hover
) {
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: $padding;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: $focus-color;
      border: 1px solid $focus-color;
    }
  }
}

@mixin Link {
  color: $color-brand-primary;

  &:hover,
  &:focus,
  &:active
  {
    color: $color-brand-primary;
    text-decoration: underline;
  }
}