.HitchhikerProductProminentImage
{
  display: flex;
  flex-direction: column;
  font-size: var(--yxt-font-size-md);
  line-height: var(--yxt-line-height-md);
  background-color: var(--yxt-color-brand-white);
  width: 100%;
  height: 100%;

  &-body
  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: calc(var(--yxt-base-spacing) * 3/4) var(--yxt-base-spacing);
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  &-imageAndTagWrapper
  {
    position: relative;
    align-items: flex-start;
    width: 100%;
    flex-shrink: 0;
  }

  &-tagWrapper
  {
    width: 100%;
  }

  &-tag
  {
    position: absolute;
    top: var(--yxt-base-spacing);
    left: var(--yxt-base-spacing);
    background-color: var(--hh-product-tag-background-color);
    color: var(--hh-product-tag-text-color);
    text-transform: uppercase;
    padding: 4px 8px;
    max-width: 75%;
  }

  &-imgWrapper
  {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
  }

  &-img
  {
    width: 100%;
    height: var(--yxt-product-prominentimage-height);
    object-fit: cover;
    font-family: 'object-fit: cover;'; //polyfill css for ie11
  }

  &-title
  {
    @include Text(
      $size: var(--yxt-font-size-lg),
      $line-height: var(--yxt-line-height-lg),
      $weight: var(--yxt-font-weight-semibold));
  }

  &-titleLink
  {
    @include Link;
  }

  &-subtitle
  {
    color: var(--yxt-color-text-secondary);
    padding-bottom: 0;
  }

  &-cardDetails
  {
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }

  &-detailsText
  {
    @include rich_text_formatting;
  }

  &-ctasWrapper
  {
    text-transform: uppercase;
    margin-top: auto;
    padding-top: calc(var(--yxt-base-spacing) / 2);
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }

  .js-hidden
  {
    display: none;
  }
}
