.HitchhikerStandard
{
  display: flex;
  font-size: var(--yxt-font-size-md);
  line-height: var(--yxt-line-height-md);
  background-color: var(--yxt-color-brand-white);
  padding: var(--yxt-base-spacing);
  width: 100%;
  height: 100%;

  &-body
  {
    width: 100%;
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: calc(var(--yxt-base-spacing) / 2);

    @media (min-width: $breakpoint-mobile-max)
    {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &-imgWrapper
  {
    display: flex;
    align-items: flex-start;
    width: 6.25rem;
    margin-right: 1rem;
  }

  &-img
  {
    width: 100%;
    height: auto;
  }

  &-title
  {
    text-decoration: none;
    font-size: var(--yxt-font-size-lg);
    line-height: var(--yxt-line-height-lg);
    font-weight: var(--yxt-font-weight-semibold);
  }

   &-titleLink
  {
    @include Link;
  }

  &-subtitle
  {
    color: var(--yxt-color-text-secondary);
    padding-bottom: 0;
  }

  &-detailsText
  {
    @include rich_text_formatting;
  }

  &-ctasWrapper
  {
    text-transform: uppercase;
    margin-top: calc(var(--yxt-base-spacing) / 2);

    @media (min-width: $breakpoint-mobile-max)
    {
      margin-top: 0;
      margin-left: calc(var(--yxt-base-spacing) / 2);
      margin-right: calc(var(--yxt-base-spacing) / 2);
      justify-content: center;
    }
  }

  &-primaryCTA,
  &-secondaryCTA
  {
    display: flex;
    margin-top: var(--yxt-base-spacing) / 2;
  }

  .js-hidden
  {
    display: none;
  }
}
