.AnswersUniversalStandard .Answers
{
  &-resultsWrapper
  {
    flex-grow: 1;
    padding-top: $base-spacing;
  }

  &-filtersAndResults
  {
    display: flex;
    flex-direction: column;
  }

  &-directAnswer
  {
    margin-bottom: $base-spacing;
  }

  &-universalResults
  {
    width: 100%;
  }
}
