.AnswersUniversalStandard .Answers
{
  &-resultsWrapper
  {
    flex-grow: 1;
  }

  &-directAnswer
  {
    .yxt-DirectAnswer-footer
    {
      padding: 1rem;
      @include bplte(xs) {
        padding: 1.5rem 1rem;
      }
    }
  }

  &-universalResults
  {
    width: 100%;
    font-weight: var(--yxt-font-weight-light);
  }

  &-spellCheck
  {
    .yxt-SpellCheck
    {
      margin-top: calc(var(--yxt-base-spacing) * 1.5);
      margin-bottom: calc(var(--yxt-base-spacing) * -0.85);

      @include bplte(xs) {
        margin-left: var(--yxt-base-spacing);
        margin-bottom: 0px;
      }
    }
  }
}
