.AnswersVerticalStandard .Answers
{
  &-container {
    position: relative;
  }

  &-resultsWrapper
  {
    display: flex;
    flex-grow: 1;
    padding-top: calc(var(--yxt-base-spacing) * 1.5);
    flex-direction: row;

    @include bplte(xs)
    {
      padding-top: calc(var(--yxt-base-spacing) / 2)
    }

    .yxt-ResultsHeader {
      padding: 0 var(--yxt-results-header-spacing);
    }
  }

  &-mainContent {
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  &-filtersWrapper {
    margin-bottom: 20px;

    .Answers-facets,
    .Answers-filterBox,
    .Answers-sortOptions {
      padding: 0 24px;
      padding-top: 20px;
      width: 100%;

      &:first-child {
        padding-top: 0px;
      }
    }

    .Answers-facets,
    .Answers-filterBox {
      &:not(:last-child) {
        .yxt-FilterBox-container {
          @include vertical_filter_group_bottom_border;
        }
      }
    }

    .Answers-sortOptions {
      &:not(:last-child) {
        .yxt-SortOptions-fieldSet {
          @include vertical_filter_group_bottom_border;
        }
      }
    }

    .yxt-SortOptions-fieldSet {
      margin: 0;
    }

    .yxt-SortOptions-options {
      margin-bottom: 0;
    }

    .yxt-FilterOptions-selectedCount {
      margin: 0 12px;
    }

    .yxt-FilterOptions-optionLabel::before {
      background-color: white;
    }

    .yxt-Facets-container {
      padding: 0;
      width: 100%;
    }

    @media (min-width: #{$breakpoint-expanded-filters}) {
      margin-left: calc(-200px - 24px);
      margin-right: 24px;
      margin-bottom: 0;

      .Answers-facets,
      .Answers-filterBox,
      .Answers-sortOptions {
        padding: 0;
        padding-top: 20px;
        width: 200px;
      }
    }
  }

  &-verticalResults
  {
    width: 100%;

    .yxt-AlternativeVerticals
    {
      border-radius: var(--yxt-border-radius);
    }

    .yxt-Results-items .yxt-Card
    {
      border-top: 0;
      margin-bottom: 0;
    }

    .yxt-Results-items .yxt-Card:first-child
    {
      border-top: var(--yxt-border-default);
      border-top-left-radius: var(--yxt-border-radius);
      border-top-right-radius: var(--yxt-border-radius);
      overflow: hidden;
    }

    .yxt-Results-items .yxt-Card:last-child
    {
      border-bottom: var(--yxt-border-default);
      border-bottom-left-radius: var(--yxt-border-radius);
      border-bottom-right-radius: var(--yxt-border-radius);
      overflow: hidden;
    }
  }

  &-verticalResultsWrapper
  {
    display: flex;
  }

  &-spellCheck
  {
    .yxt-SpellCheck
    {
      margin-bottom: calc(var(--yxt-base-spacing) * 1.5);
      margin-left: var(--yxt-base-spacing);

      @include bpgte(sm) {
        margin-left: 0px;
      }
    }
  }
}
