.AnswersVerticalGrid
{
  .yxt-Card
  {
    border: 0;
  }

  .yxt-Card-child
  {
    border: 1px solid $gray-3; //TODO(creotutar) this is a variable common variables
    flex-grow: 0;
  }

  .Answers
  {
    &-resultsWrapper
    {
      flex-grow: 1;
      padding-top: var(--hh-base-spacing);

      &--withFilters
      {
        @include bpgte(sm)
        {
          max-width: 100%;
          width: var(--hh-answers-container-width-filters);
        }

        .Answers-verticalResults
        {
          flex-grow: 1;
        }
      }
    }

    &-filtersAndResults
    {
      display: flex;

      @include bplte(xs)
      {
        flex-direction: column;
      }
    }

    &-verticalResults
    {
      width: 100%;
    }

    &-verticalResultsWrapper
    {
      display: flex;
    }
  }
}
