.AnswersVerticalGrid
{
  .yxt-Card
  {
    border: 0;
  }

  .Hitchhiker-2-columns .yxt-Card
  {
    width: 50%;
  }

  .Hitchhiker-3-columns .yxt-Card
  {
    width: 33.33%;
  }

  .Hitchhiker-4-columns .yxt-Card
  {
    width: 25%;
  }

  .Hitchhiker-2-columns,
  .Hitchhiker-3-columns,
  .Hitchhiker-4-columns
  {
    .yxt-Card
    {
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 0;
      padding-right: calc(var(--yxt-base-spacing) / 4);
      padding-left: calc(var(--yxt-base-spacing) / 4);
      flex-basis: auto; // reset SDK styling

      @include bplte(xs) {
        width: 100%;
      }
    }

    .yxt-Card-child
    {
      border: 1px solid var(--hh-color-gray-1);
      display: flex;
    }

    .yxt-Results-items
    {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .Answers
  {
    &-container {
      position: relative;
    }

    &-resultsWrapper
    {
      display: flex;
      flex-grow: 1;
      padding-top: calc(var(--yxt-base-spacing) * 2);
      flex-direction: column;

      .yxt-ResultsHeader {
        padding: 0 var(--yxt-results-header-spacing);
      }
    }

    &-filtersAndResults
    {
      display: flex;
      flex-direction: column;

      @include bpgte(lg)
      {
        flex-direction: row;
      }
    }

    &-filtersWrapper {
      margin-bottom: 20px;

      .Answers-facets,
      .Answers-filterBox,
      .Answers-sortOptions {
        padding: 0 24px;
        padding-top: 20px;
        width: 100%;

        &:first-child {
          padding-top: 0px;
        }
      }

      .Answers-facets,
      .Answers-filterBox {
        &:not(:last-child) {
          .yxt-FilterBox-container {
            @include vertical_filter_group_bottom_border;
          }
        }
      }

      .Answers-sortOptions {
        &:not(:last-child) {
          .yxt-SortOptions-fieldSet {
            @include vertical_filter_group_bottom_border;
          }
        }
      }

      .yxt-SortOptions-fieldSet {
        margin: 0;
      }

      .yxt-SortOptions-options {
        margin-bottom: 0;
      }

      .yxt-FilterOptions-selectedCount {
        margin: 0 12px;
      }

      .yxt-FilterOptions-optionLabel::before {
        background-color: white;
      }

      .yxt-Facets-container {
        padding: 0;
        width: 100%;
      }

      @include bpgte(lg) {
        position: absolute;
        margin-left: calc(-200px - 24px);
        margin-right: 24px;
        margin-bottom: 0;

        .Answers-facets,
        .Answers-filterBox,
        .Answers-sortOptions {
          padding: 0;
          padding-top: 20px;
          width: 200px;
        }
      }
    }

    &-verticalResults
    {
      width: 100%;
    }

    &-verticalResultsWrapper
    {
      display: flex;
    }

    &-spellCheck
    {
      .yxt-SpellCheck
      {
        margin-bottom: calc(2*var(--yxt-base-spacing));
      }
    }
  }
}
