.AnswersVerticalStandard .Answers
{
  &-container {
    position: relative;
  }

  &-resultsWrapper
  {
    flex-grow: 1;
    padding-top: calc(var(--yxt-base-spacing) * 2);

    .yxt-ResultsHeader {
      padding: 0 var(--yxt-results-header-spacing);
    }
  }

  &-filtersAndResults
  {
    display: flex;
    flex-direction: column;

    @include bpgte(lg)
    {
      flex-direction: row;
    }
  }

  &-filtersWrapper {
    margin-bottom: 20px;

    .Answers-facets,
    .Answers-filterBox,
    .Answers-sortOptions {
      padding: 0 24px;
      width: 100%;

      &:not(:last-child) {
        padding-bottom: 12px;
        border-bottom: var(--yxt-border-default);
      }

      &:not(:first-child) {
        padding-top: 20px;
      }
    }

    .yxt-SortOptions-fieldSet {
      margin: 0;
    }

    .yxt-SortOptions-options {
      margin-bottom: 0;
    }

    .yxt-FilterOptions-selectedCount {
      margin: 0 12px;
    }

    .yxt-Facets-container {
      padding: 0;
      width: 100%;
    }

    @include bpgte(lg) {
      position: absolute;
      top: calc(var(--yxt-base-spacing) * 2);
      left: calc(-200px - 24px);
      margin-bottom: 0;

      .Answers-facets,
      .Answers-filterBox,
      .Answers-sortOptions {
        padding: 0;
        width: 200px;
      }
    }
  }

  &-verticalResults
  {
    width: 100%;
  }

  &-verticalResultsWrapper
  {
    display: flex;
  }
}
