.AnswersVerticalStandard .Answers
{
  &-resultsWrapper
  {
    flex-grow: 1;
    padding-top: var(--yxt-base-spacing);

    &--withFilters
    {
      padding-left: var(--yxt-base-spacing);
      padding-right: var(--yxt-base-spacing);

      @include bpgte(md)
      {
        padding-left: 0;
        padding-right: 0;
      }

      @include bpgte(sm)
      {
        max-width: 100%;
        width: var(--hh-answers-container-width-filters);
      }

      .Answers-verticalResults
      {
        flex-grow: 1;
      }
    }
  }

  &-filtersAndResults
  {
    display: flex;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-filtersWrapper {
    margin-right: calc(var(--yxt-base-spacing) * 2);

    .yxt-FilterBox-container {
      margin-bottom: var(--yxt-base-spacing);
    }

    .yxt-Facets-container {
      padding: 0;
    }
  }

  &-verticalResults
  {
    width: 100%;
  }

  &-verticalResultsWrapper
  {
    display: flex;
  }
}
