{{#> layouts/html }}
  {{#> script/core }}
    {{> cards/all }}
    {{!-- {{> templates/vertical-standard/collapsible-filters/page-setup }} --}}
    {{> templates/vertical-standard/script/appliedfilters }}
    {{> templates/vertical-standard/script/verticalresultscount }}
    {{> templates/vertical-standard/script/searchbar }}
    {{> templates/vertical-standard/script/spellcheck }}
    {{> templates/vertical-standard/script/navigation }}
    {{> templates/vertical-standard/script/verticalresults }}
    {{> templates/vertical-standard/script/pagination }}
    {{> templates/vertical-standard/script/locationbias }}
    {{!-- {{> templates/vertical-standard/script/sortoptions }} --}}
    {{!-- {{> templates/vertical-standard/script/facets }} --}}
    {{!-- {{> templates/vertical-standard/script/filterbox }} --}}
    {{> templates/vertical-standard/script/qasubmission }}
  {{/script/core }}
  <div class="Answers AnswersVerticalStandard CollapsibleFilters">
    <div class="Answers-navWrapper">
      <div class="Answers-container">
        {{> templates/vertical-standard/markup/searchbar }}
        {{> templates/vertical-standard/markup/navigation }}
      </div>
    </div>
    <div class="Answers-container Answers-resultsWrapper">
      <div class="Answers-resultsHeader">
        {{> templates/vertical-standard/markup/verticalresultscount }}
        {{> templates/vertical-standard/markup/appliedfilters }}
        {{!-- {{> templates/vertical-standard/collapsible-filters/markup/filterlink }} --}}
        {{!-- {{> templates/vertical-standard/collapsible-filters/markup/viewresultsbutton }} --}}
      </div>
      <!-- Uncomment the following div if you want to include filters, facets, or sort options  -->
      {{!-- <div class="Answers-filtersWrapper js-answersFiltersWrapper CollapsibleFilters-inactive"> --}}
        {{!-- {{> templates/vertical-standard/markup/sortoptions }} --}}
        {{!-- {{> templates/vertical-standard/markup/filterbox }} --}}
        {{!-- {{> templates/vertical-standard/markup/facets }} --}}
      {{!-- </div> --}}
      <div class="Answers-results js-answersResults">
        {{> templates/vertical-standard/markup/spellcheck }}
        {{> templates/vertical-standard/markup/verticalresults }}
        {{> templates/vertical-standard/markup/pagination }}
        {{> templates/vertical-standard/markup/qasubmission }}
      </div>
    </div>
    <div class="Answers-footer js-answersFooter">
      {{> layouts/yext-logo }}
      {{> templates/vertical-standard/markup/locationbias }}
    </div>
  </div>
{{/layouts/html }}
