<script>
	{{#> script_core }}
	{{> universal_script_searchbar }}
	{/script_core }}
</script>
<div id="answers-container" class="section">
	<div class="row">
		{{> universal_markup_searchbar }}
	</div>
</div>