// Sitemap level theming goes here

.Sitemap
{
  &-content
  {
    margin-top: 40px;
    padding-right: $grid-gutter-width/2;
  }

  &-groupHeading
  {
    margin-bottom: $spaced-margin/2;

    &.Sitemap-groupHeading--3
    {
      margin-bottom: $spaced-margin;
    }
  }

  &-list
  {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: $padded-padding;
    margin-bottom: $spaced-margin;
  }

  &-loc
  {
    margin-bottom: $spaced-margin;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &-item
  {
    &--isLast
    {
      display: inline-flex;
      width: percentage(1/3);
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }

    &:not(&--isLast)
    {
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
}
