/** @define HitchhikerResultsGridTwoColumns */

@import 'common';

.HitchhikerResultsGridTwoColumns
{
  @include universal-standard;

  &-items
  {
    @include column-grid-items;
  }

  &-Card
  {
    &--universal
    {
      @include bpgte(sm) {
        margin: var(--hh-universal-grid-margin);
        flex-basis: var(--hh-universal-grid-two-columns-width);
        max-width: var(--hh-universal-grid-two-columns-width);
        border: var(--yxt-border-default);
      }
    }
  }
}
