/** @define HitchhikerResultsGridThreeColumns */

@import 'common';

.HitchhikerResultsGridThreeColumns
{
  @include universal-standard;

  &-items
  {
    @include column-grid-items;
  }

  &-Card
  {
    &--universal
    {
      @media (min-width: $breakpoint-mobile-min) {
        margin: 8px;
        flex-basis: var(--hh-universal-grid-three-columns-width);
        max-width: var(--hh-universal-grid-three-columns-width);
        border: var(--yxt-border-default);
      }
    }
  }
}
