<button class="OverlayButton js-OverlayButton" style="display:none">
  <div class="OverlayButton-displayWhenCollapsed js-OverlayButton-displayWhenCollapsed">
    <span class="OverlayButton-icon js-OverlayButton-icon">
      {{> overlay/icons/min2mag }}
    </span>
  </div>
  <div class="OverlayButton-displayWhenExpanded js-OverlayButton-displayWhenExpanded">
    <div class="OverlayButton-icon js-OverlayButton-icon">
      {{> overlay/icons/mag2min }}
    </div>
  </div>
</button>