<div class="OverlayHeader js-OverlayHeader">
  <div class="OverlayHeader-imageWrapper js-OverlayHeader-imageWrapper"></div>
  <div class="OverlayHeader-title js-OverlayHeader-title"></div>
  <div class="OverlayHeader-subtitle js-OverlayHeader-subtitle"></div>
</div>