<div class="OverlayHeader js-OverlayHeader">
  <div class="OverlayHeader-iconWrapper js-OverlayHeader-iconWrapper"></div>
  <div class="OverlayHeader-title js-OverlayHeader-title"></div>
  <div class="OverlayHeader-subtitle js-OverlayHeader-subtitle"></div>
</div>