{{#> layouts/html }}
  <div>
    {{#> script/core }}
      {{> cards/all}}
      {{> templates/vertical/script/searchbar}}
      {{> templates/vertical/script/spellcheck}}
      {{> templates/vertical/script/navigation}}
      {{> templates/vertical/script/verticalresults}}
      {{> templates/vertical/script/pagination}}
      {{> templates/vertical/script/locationbias}}
      {{!-- {{> templates/vertical/script/facets}} --}}
      {{!-- {{> templates/vertical/script/filterbox}} --}}
      {{!-- {{> templates/vertical/script/qasubmission}} --}}
    {{/script/core}}
    <div class="Answers AnswersVerticalTemplate">
      <div class="Answers-navWrapper">
        <div class="Answers-container">
          {{> templates/vertical/markup/searchbar }}
          {{> templates/vertical/markup/navigation}}
        </div>
      </div>
      <div class="Answers-container Answers-resultsWrapper">
        {{> templates/vertical/markup/spellcheck }}
        {{!-- {{> templates/vertical/markup/facets}} --}}
        {{!-- {{> templates/vertical/markup/filterbox}} --}}
        <div class="Answers-filtersAndResults">
          {{> templates/vertical/markup/verticalresults }}
        </div>
        {{> templates/vertical/markup/pagination }}
        {{!-- {{> templates/vertical/markup/qasubmission }} --}}
      </div>
    </div>
    <footer class="Answers-footer">
      {{> templates/vertical/markup/locationbias }}
    </footer>
  </div>
{{/layouts/html }}
