.HitchhikerAllFieldsStandard
{
  &-title
  {
    padding-top: calc(var(--yxt-base-spacing) / 2);
    padding-left: var(--yxt-base-spacing);
    padding-bottom: calc(var(--yxt-base-spacing) / 2);
    padding-right: var(--yxt-base-spacing);
    display: flex;
    align-items: center;
    background-color: var(--yxt-direct-answer-title-background-color);
    border: var(--yxt-direct-answer-border);
    @include Text(
      $color: var(--yxt-direct-answer-title-color)
    )
  }

  &-titleText
  {
    margin: 0;
    @include Text(
      $size: var(--yxt-direct-answer-title-font-size),
      $line-height: var(--yxt-direct-answer-title-line-height),
      $weight: var(--yxt-direct-answer-title-font-weight),
      $color: var(--yxt-direct-answer-title-color)
    );
  }

  &-titleLink
  {
    &:hover,
    &:active,
    &:focus
    {
      text-decoration: underline;
    }
  }

  &-titleIconWrapper
  {
    display: flex;
    margin-right: calc(var(--yxt-base-spacing) / 2);
    height: 18px;
  }

  &-entityName
  {
    text-transform: uppercase;
  }

  &-iconWrapper
  {
    margin-right: var(--yxt-base-spacing-sm);
    display: inline-flex;
  }

  &-column
  {
    width: 100%;
  }

  &-content
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--yxt-base-spacing);
    background-color: var(--yxt-direct-answer-content-background-color);
    border-left: var(--yxt-direct-answer-border);
    border-right: var(--yxt-direct-answer-border);
  }

  &-cta
  {
    text-transform: uppercase;
    margin-top: calc(var(--yxt-base-spacing) / 2);
    justify-content: center;

    @media (min-width: $breakpoint-mobile-max)
    {
      margin-top: 0;
      margin-left: calc(var(--yxt-base-spacing) / 2);
      margin-right: calc(var(--yxt-base-spacing) / 2);
      justify-content: center;
    }

  }

  &-footerWrapper
  {
    background-color: var(--yxt-direct-answer-footer-background-color);
  }

  &-footer
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);
    padding-top: 8px;
    padding-bottom: 8px;
    border: var(--yxt-direct-answer-border);
  }

  &-footerText
  {
    display: inline;
    margin-right: var(--yxt-base-spacing);
    @include Text(
      $size: var(--yxt-direct-answer-footer-font-size),
      $line-height: var(--yxt-direct-answer-footer-line-height),
      $weight: var(--yxt-direct-answer-footer-font-weight),
      $color: var(--yxt-direct-answer-footer-color)
    );

    font-style: italic;
  }

  &-thumbs
  {
    display: flex;
    margin: 0;
  }

  &-thumbUpIcon
  {
    transform: rotate(180deg);
  }

  &-thumbUpIcon,
  &-thumbDownIcon
  {
    display: inline-flex;
    color: var(--yxt-color-text-secondary);
  }

  &-thumb
  {
    display: inline;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 24px;

    & + &
    {
      margin-left: 10px;
    }
  }

  &-fieldset
  {
    display: inline;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    line-height: 0;
    min-inline-size: min-content;
  }

  &-fieldValueLink
  {
    @include Link;

    font-weight: var(--yxt-font-weight-semibold);
  }

  &-fieldValueRtf
  {
    @include rich_text_formatting;
  }

  &-fieldValue
  {
    @include Text(
      $size: var(--yxt-direct-answer-content-font-size),
      $line-height: var(--yxt-direct-answer-content-line-height),
      $weight: var(--yxt-direct-answer-content-font-weight),
      $color: var(--yxt-direct-answer-content-color)
    );

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: disc;
  }

  &-ul
  {
    list-style-type: disc;
    list-style-position: inside;
  }

  &-feedback
  {
    @include Text(
      $color: var(--yxt-color-text-neutral),
    );
    background-color: var(--yxt-color-background-highlight);
    display: none;
  }

  &-viewMore
  {
    @include Text(
      $size: var(--yxt-direct-answer-view-details-font-size),
      $line-height: var(--yxt-direct-answer-view-details-line-height),
      $weight: var(--yxt-direct-answer-view-details-font-weight),
    );
    @include Link;

    display: inline-flex;
    align-items: center;
  }

  &-viewMoreWrapper
  {
    &:not(:first-child)
    {
      margin-top: calc(var(--yxt-base-spacing) / 2);
    }
  }

  &-viewMoreIcon
  {
    $line-height: var(--yxt-direct-answer-view-details-line-height);
    margin-left: 4px;
  }
}