.HitchhikerDocumentSearchStandard
{
  margin-top: calc(var(--yxt-base-spacing) * 1.5);
  background-color: var(--yxt-direct-answer-content-background-color);

  mark
  {
    background-color: var(--yxt-text-snippet-highlight-color);
    color: var(--yxt-text-snippet-font-color);
  }

  @include bpgte(sm) {
    margin-top: calc(var(--yxt-base-spacing) * 2.35);
  }

  &-titleAndContent
  {
    border: var(--yxt-direct-answer-border);
    border-radius: var(--yxt-border-radius);
  }

  &-title
  {
    margin: 0;

    padding-top: var(--yxt-base-spacing);
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);

    @include Text(
      $size: var(--yxt-font-size-xlg),
      $line-height: var(--yxt-direct-answer-title-line-height),
      $weight: var(--yxt-direct-answer-title-font-weight),
      $color: var(--yxt-color-brand-primary)
    );
  }

  &-column
  {
    width: 100%;
  }

  &-content
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: calc(var(--yxt-base-spacing) * 0.7);
    padding-bottom: calc(var(--yxt-base-spacing) * 0.7);
    padding-left: var(--yxt-base-spacing);
    padding-right: var(--yxt-base-spacing);

    @include Text(
      $size: var(--yxt-font-size-md-lg),
      $line-height: var(--yxt-direct-answer-footer-line-height),
      $weight: var(--yxt-font-weight-light),
      $color: var(--yxt-color-text-primary)
    );
  } 

  &-snippet
  {
    @include rich_text_formatting;

    .js-yxt-rtfValue > *:first-child // The first RTF item should also get h1 styling
    {
      @include header_styling;
      font-size: var(--yxt-font-size-xlg);
    }
  }

  &-cta
  {
    text-transform: uppercase;
    margin-top: calc(var(--yxt-base-spacing) / 2);
    justify-content: center;

    @include bpgte(sm)
    {
      margin-top: 0;
      margin-left: calc(var(--yxt-base-spacing) / 2);
      margin-right: calc(var(--yxt-base-spacing) / 2);
      justify-content: center;
    }

  }

  &-feedbackWrapper
  {
    background-color: var(--yxt-direct-answer-footer-background-color);
  }

  &-feedbackContent,
  &-footer
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: var(--yxt-base-spacing);
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &-feedbackText,
  &-footerText
  {
    display: inline;
    margin-right: 8px;
    @include Text(
      $size: var(--yxt-direct-answer-footer-font-size),
      $line-height: var(--yxt-direct-answer-footer-line-height),
      $weight: var(--yxt-direct-answer-footer-font-weight),
      $color: var(--yxt-direct-answer-footer-color)
    );
  }

  &-thumbsWrapper
  {
    display: flex;
  }

  &-thumbs
  {
    display: flex;
    margin: 0;
  }

  &-thumbUpIcon
  {
    transform: rotate(180deg);
  }

  &-thumbUpIcon,
  &-thumbDownIcon
  {
    display: inline-flex;
    color: var(--yxt-color-text-secondary);
  }

  &-thumb
  {
    display: inline;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 18px;

    & + &
    {
      margin-left: 8px;
    }
  }

  &-fieldset
  {
    display: inline;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    line-height: 0;
    min-inline-size: min-content;
  }

  &-feedback
  {
    @include Text(
      $color: var(--yxt-color-text-neutral),
    );
    background-color: var(--yxt-color-background-highlight);
    display: none;
  }

  &-viewMore
  {
    @include Text(
      $size: var(--yxt-direct-answer-view-details-font-size),
      $line-height: var(--yxt-direct-answer-view-details-line-height),
      $weight: var(--yxt-direct-answer-view-details-font-weight),
    );
    @include Link;

    display: inline-flex;
    align-items: center;
  }

  &-viewMoreWrapper
  {
    font-size: var(--yxt-direct-answer-view-details-font-size);

    &:not(:first-child)
    {
      margin-top: calc(var(--yxt-base-spacing) / 2);
    }
  }
}