// Overrides for SDK filter components
@import "sdk-filter-overrides";

@mixin CollapsibleFilters {
  @include CollapsibleFiltersOverrides;

  .Answers {
    &-sortOptions {
      padding: 0;
    }

    &-resultsHeader {
      background: var(--hh-answers-background-color);
      border-bottom: var(--yxt-border-default);
    }

    &-filterLink {
      margin-left: auto;
      margin-right: 14px;
    }

    &-viewResultsButton {
      position: fixed;
      width: calc(50% - var(--yxt-base-spacing));
      left: 0;
      bottom: 0;
      margin-left: 2px;
      padding: 4px 8px;
      background-color: var(--hh-answers-background-color);
      z-index: $nav-wrapper-z-index;

      @media (max-width: $container-tablet-base) {
        width: 100%;
        margin-left: none;
      }
    }

    &-filtersWrapper {
      margin-top: var(--yxt-base-spacing-sm);
      margin-left: var(--yxt-base-spacing);
      margin-right: var(--yxt-base-spacing);
      margin-bottom: calc(4 * var(--yxt-base-spacing));
    }
  }
}
