@mixin CollapsibleFilters {
  .Answers {
    &-sortOptions {
      padding: 0;
    }

    &-resultsHeader {
      background: var(--hh-answers-background-color);
      border-bottom: var(--yxt-border-default);
    }

    &-filterLink {
      margin-left: auto;
      margin-right: 14px;
    }

    &-viewResultsButton {
      position: fixed;
      width: 100%;
      bottom: 0;
      padding: 4px 8px;
      background-color: var(--hh-answers-background-color);
      z-index: $nav-wrapper-z-index;
      transition: top 0.4s ease-out;
    }

    &-filtersWrapper {
      margin-top: var(--yxt-base-spacing-sm);
      margin-left: var(--yxt-base-spacing);
      margin-right: var(--yxt-base-spacing);
      margin-bottom: calc(4 * var(--yxt-base-spacing));
    }
  }
}
