<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="bundle.css">
        <script src="bundle.js"></script>
    </head>
    <body>
        {{> @partial-block }}
    </body>
</html>