<a class="Answers-footerLink"
  href="https://www.yext.com"
  target="_blank"
  rel="nofollow noopener noreferrer">
  <img src="static/assets/images/yext-logo.svg"
    class="Answers-footerLogo"
    alt="Visit yext.com">
</a>