<a class="Answers-footerLink"
  href="https://www.yext.com/get"
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label="Visit yext.com">
  <span class="Answers-footerLogo">{{> static/assets/images/yext-logo}}</span>
</a>
