<div class="Answers-searchThisAreaWrapper">
  <button id="Answers-searchThisAreaButton" type="button" class="Answers-searchThisArea js-searchThisAreaButton">
    {{ translate phrase="Search This Area" context="Button to conduct a search in the current map area" }}
  </button>
</div>
