<div class="Answers-searchThisAreaWrapper">
  <button id="Answers-searchThisAreaButton" type="button" class="Answers-searchThisArea js-searchThisAreaButton">
    {{ translate phrase="Search This Area" context="A toggle for automatically searching when the map moves" }}
  </button>
</div>
