$answers-background-color: $gray-8;

$autocomplete-text-font-size: 16px;

$searchbar-button-background-color-base: white;
$searchbar-button-background-color-hover: white;
$searchbar-button-background-color-active: white;
$searchbar-button-text-color-hover: $brand-tertiary;

/* Available variables
$color-background-highlight: #fafafa !default;
$color-brand-primary: #0f70f0 !default;
$color-text-primary: #212121 !default;
$color-text-secondary: #757575 !default;
$color-link-primary: $color-brand-primary !default;
$color-borders: #dcdcdc !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-md-lg: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
$font-size-xxlg: 40px;

$line-height-xs: 1;
$line-height-sm: 1.2;
$line-height-md-sm: 4/3;
$line-height-md: 1.4;
$line-height-lg: 1.5;
$line-height-xlg: 5/3;
$line-height-xxlg: 1.7;

$base-spacing-sm: 12px !default;
$base-spacing: 16px !default;

$border-default: 1px solid $color-borders !default;

$breakpoint-mobile-max: 767px;
$breakpoint-mobile-min: 768px;
$z-index-nav-more-modal: 2;

$accordion-result-border: $border-default !default;
$accordion-result-background-color: white !default;
$accordion-result-hover-color: $color-background-highlight !default;
$accordion-result-title-font-size: $font-size-md-lg !default;
$accordion-result-title-line-height: $line-height-lg !default;
$accordion-result-title-font-weight: $font-weight-semibold !default;
$accordion-result-title-color: $color-brand-primary !default;
$accordion-result-details-font-size: $font-size-md !default;
$accordion-result-details-line-height: $line-height-md-sm !default;
$accordion-result-details-font-weight: $font-weight-normal !default;
$accordion-result-details-color: $color-text-primary !default;
$accordion-result-cta-font-size: $font-size-md !default;
$accordion-result-cta-line-height: $line-height-xxlg !default;
$accordion-result-cta-font-weight: $font-weight-normal !default;

$autocomplete-background-color: white !default;
$autocomplete-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.47) !default;;
$autocomplete-selected-background-color: #f9f9f9 !default;
$autocomplete-option-hover-background-color: #f9f9f9 !default;
$autocomplete-separator-color: $color-text-secondary !default;
$autocomplete-text-font-size: $font-size-md-lg !default;
$autocomplete-text-line-height: $line-height-md !default;
$autocomplete-text-font-weight: $font-weight-normal !default;
$autocomplete-text-color: $color-text-primary !default;

$direct-answer-border: $border-default !default;
$direct-answer-title-background-color: $color-brand-primary !default;
$direct-answer-content-background-color: white !default;
$direct-answer-footer-background-color: $color-background-highlight !default;
$direct-answer-title-font-size: $font-size-md-lg !default;
$direct-answer-title-line-height: $line-height-lg !default;
$direct-answer-title-font-weight: $font-weight-semibold !default;
$direct-answer-title-color: white !default;
$direct-answer-content-font-size: $font-size-xlg !default;
$direct-answer-content-line-height: $line-height-md !default;
$direct-answer-content-font-weight: $font-weight-normal !default;
$direct-answer-content-color: $color-text-primary !default;
$direct-answer-view-details-font-size: $font-size-md !default;
$direct-answer-view-details-line-height: $line-height-xxlg !default;
$direct-answer-view-details-font-weight: $font-weight-normal !default;
$direct-answer-footer-font-size: 13.5px !default;
$direct-answer-footer-line-height: $line-height-md !default;
$direct-answer-footer-font-weight: $font-weight-normal !default;
$direct-answer-footer-color: $color-text-primary !default;

$nav-text-font-size: $font-size-md !default;
$nav-text-line-height: $line-height-md !default;
$nav-text-font-weight: $font-weight-semibold !default;
$nav-text-color: $color-text-primary !default;
$nav-text-hover-color: #c5cace !default;
$nav-text-active-color: $color-brand-primary !default;
$nav-text-active-border: 2px solid $color-brand-primary !default;
$nav-text-focus-background-color: #e9e9e9 !default;
$nav-dropdown-font-size: 13px !default;
$nav-dropdown-line-height: $line-height-sm !default;
$nav-dropdown-font-weight: $font-weight-semibold !default;
$nav-dropdown-color: $nav-text-color !default;
$nav-dropdown-hover-color: $nav-dropdown-color !default;
$nav-dropdown-hover-background-color: #eeeff0 !default;

$noresults-font-size: $font-size-md !default;
$noresults-line-height: $line-height-md !default;
$noresults-font-weight: $font-weight-normal !default;
$noresults-query-font-weight: $font-weight-semibold !default;

$result-background-color: white !default;
$result-event-background-color: $color-background-highlight !default;
$result-day-font-size: $font-size-xxlg !default;
$result-day-line-height: $line-height-sm !default;
$result-day-font-weight: $font-weight-semibold !default;
$result-day-color: $color-text-primary !default;
$result-month-font-size: $font-size-md !default;
$result-month-line-height: $line-height-md !default;
$result-month-font-weight: $font-weight-normal !default;
$result-month-color: $color-text-primary !default;
$result-ordinal-background-color: $color-brand-primary !default;
$result-ordinal-font-size: $font-size-xs !default;
$result-ordinal-line-height: $line-height-xs !default;
$result-ordinal-font-weight: $font-weight-bold !default;
$result-ordinal-color: white !default;
$result-details-font-size: $font-size-md !default;
$result-details-line-height: $line-height-md !default;
$result-details-font-weight: $font-weight-normal !default;
$result-details-color: $color-text-primary !default;
$result-title-font-size: $font-size-lg !default;
$result-title-line-height: $line-height-lg !default;
$result-title-font-weight: $font-weight-semibold !default;
$result-title-color: $color-text-primary !default;
$result-subtitle-font-size: $font-size-md !default;
$result-subtitle-line-height: $line-height-md !default;
$result-subtitle-font-weight: $font-weight-normal !default;
$result-subtitle-color: $color-text-secondary !default;
$result-cta-font-size: $font-size-md !default;
$result-cta-line-height: $line-height-md !default;
$result-cta-font-weight: $font-weight-semibold !default;
$result-cta-color: $color-link-primary !default;

$results-title-bar-background: $color-background-highlight !default;
$results-filters-background: white !default;
$results-title-bar-text-color: $color-text-primary !default;
$results-title-bar-text-font-size: $font-size-md-lg !default;
$results-title-bar-text-line-height: $line-height-lg !default;
$results-title-bar-text-font-weight: $font-weight-bold !default;
$results-title-bar-link-font-size: $font-size-md !default;
$results-title-bar-link-line-height: $line-height-xxlg !default;
$results-title-bar-link-font-weight: $font-weight-semibold !default;
$results-filters-text-color: $color-text-primary !default;
$results-filters-text-font-size: $font-size-md !default;
$results-filters-text-line-height: $line-height-md !default;
$results-filters-text-font-weight: $font-weight-normal !default;
$results-filters-link-font-size: $font-size-md !default;
$results-filters-link-line-height: $line-height-md !default;
$results-filters-link-font-weight: $font-weight-normal !default;
$results-border: $border-default !default;

$searchbar-form-background-color: white !default;
$searchbar-form-outline-color-base: #464b4f !default;
$searchbar-form-outline-color-hover: #1d1e1f !default;
$searchbar-focus-shadow-height: 6px !default;
$searchbar-focus-shadow: 0 1px $searchbar-focus-shadow-height 0 rgba(32,33,36,0.47) !default;
$searchbar-form-border-radius: 2*$base-spacing-sm !default;
$searchbar-text-color: $color-text-primary !default;
$searchbar-text-font-size: $font-size-md-lg !default;
$searchbar-text-line-height: $line-height-lg !default;
$searchbar-text-font-weight: $font-weight-normal !default;
$searchbar-button-background-color-base: white !default;
$searchbar-button-background-color-hover: $searchbar-text-color !default;
$searchbar-button-background-color-active: $searchbar-button-background-color-base !default;
$searchbar-button-text-color-base: $color-text-primary !default;
$searchbar-button-text-color-hover: white !default;
$searchbar-button-text-color-active: $searchbar-button-text-color-base !default;

$spellCheck-text-font-size: $font-size-md-lg !default;
$spellCheck-text-font-weight: $font-weight-normal !default;
$spellCheck-text-color: $color-text-primary !default;
*/

