// This file is for custom CSS variables, you can
// (1) override the existing Answers SDK variables (prefixed yxt)
// (2) override existing or define new theme variables (prefixed hh)

:root {
  --hh-answers-background-color: #eeeff0;
  --hh-answers-container-width: 700px;
  --hh-answers-container-width-filters: 950px;

  --yxt-autocomplete-text-font-size: 16px;
  --yxt-base-spacing: 16px;
  --yxt-searchbar-button-background-color-base: white;
  --yxt-searchbar-button-background-color-hover: white;
  --yxt-searchbar-button-background-color-active: white;
  --yxt-searchbar-button-text-color-hover: #0f70f0;
}
