.yxt-SearchBar
{
  margin-bottom: 0;

  &-buttonImage
  {
    svg
    {
      font-size: 24px;
    }
  }
}

.yxt-NoResults
{
  padding-top: calc(var(--yxt-base-spacing) * 2);
  padding-bottom: calc(var(--yxt-base-spacing) * 2);
  padding-left: var(--yxt-base-spacing);
  padding-right: var(--yxt-base-spacing);
}

.yxt-Result
{
  &-featuresWrapper
  {
    margin-top: var(--yxt-base-spacing);
  }

  &-featuresTitle
  {
    font-weight: var(--yxt-font-weight-semibold);
    margin-bottom: calc(var(--yxt-base-spacing) / 2);
  }
}

.yxt-locationBias-updateLoc
{
  text-decoration: underline;
  color: var(--yxt-color-link-primary);

  &:hover
  {
    text-decoration: none;
  }
}

.yxt-FilterOptions-options strong {
  font-weight: var(--yxt-font-weight-bold);
}

.yxt-SpellCheck {
  padding: 0;
  margin: 0;
}

.yxt-FilterOptions-radioButtonInput {
  margin-right: 3px;
}
