// This file contains utiltiy mixins that aren't meant to be overridden

@mixin bp($min, $max: $min)
{
  $MediaQueriesEnabled: true !default;

  @if $MediaQueriesEnabled
  {
    $bps: xs, sm, md, lg;
    $valid-input: true;
    $use-media-query: true;
    $mq: "";

    $maxes: (
      xs: "(max-width: #{$screen-xs-max})",
      sm: "(max-width: #{$screen-sm-max})",
      md: "(max-width: #{$screen-md-max})"
    );

    $mins: (
      sm: "(min-width: #{$screen-sm-min})",
      md: "(min-width: #{$screen-md-min})",
      lg: "(min-width: #{$screen-lg-min})"
    );

    @if ($min != null and $max != null)
    {
      @if index($bps, $min) and index($bps, $max)
      {
        $mq: "#{map-get($mins, $min)} and #{map-get($maxes, $max)}";
      }

      @else
      {
        @warn "Breakpoint parameters must be either xs, sm, md, or lg.";
        $valid-input: false;
      }
    }

    @else if ($min != null and $max == null)
    {
      @if $min == xs
      {
        @warn "There is no min-width for Mobile Screens.";
        $valid-input: false;
      }

      @else if $min == min
      {
        $use-media-query: false;
      }

      @else if $min == max
      {
        $valid-input: false;
      }

      @else
      {
        $mq: "#{map-get($mins, $min)}";
      }
    }

    @else if ($min == null and $max != null)
    {
      @if $max == lg
      {
        @warn "There is no Max Width for Large Screens.";
        $valid-input: false;
      }

      @else if $max == max
      {
        $use-media-query: false;
      }

      @else if $max == min
      {
        $valid-input: false;
      }

      @else
      {
        $mq: "#{map-get($maxes, $max)}";
      }
    }

    @else
    {
      @warn "You must pass a parameter to the bp() mixin!";
      $valid-input: false;
    }

    @if $valid-input and $use-media-query
    {
      @media #{$mq}
      {
        @content;
      }
    }

    @else if $valid-input
    {
      @content;
    }
  }
}

@mixin bplte($max)
{
  @include bp(null, $max)
  {
    @content;
  }
}

@mixin bpgte($min)
{
  @include bp($min, null)
  {
    @content;
  }
}

@mixin l-row
{
  display: flex;
  margin-left: -$grid-gutter-width-xs/2;
  margin-right: -$grid-gutter-width-xs/2;

  @include bpgte(sm)
  {
    margin-left: -$grid-gutter-width-sm/2;
    margin-right: -$grid-gutter-width-sm/2;
  }

  @include bpgte(md)
  {
    margin-left: -$grid-gutter-width-md/2;
    margin-right: -$grid-gutter-width-md/2;
  }

  @include bpgte(lg)
  {
    margin-left: -$grid-gutter-width-lg/2;
    margin-right: -$grid-gutter-width-lg/2;
  }

  @include bplte(xs)
  {
    flex-direction: column;
  }

  @include bpgte(sm)
  {
    flex-wrap: wrap;
  }
}

@mixin l-col($num1, $num2)
{
  width: percentage($num1/$num2);
  padding-left: $grid-gutter-width-xs/2;
  padding-right: $grid-gutter-width-xs/2;

  @include bp(sm,sm)
  {
    padding-left: $grid-gutter-width-sm/2;
    padding-right: $grid-gutter-width-sm/2;
  }

  @include bp(md,md)
  {
    padding-left: $grid-gutter-width-md/2;
    padding-right: $grid-gutter-width-md/2;
  }

  @include bpgte(lg)
  {
    padding-left: $grid-gutter-width-lg/2;
    padding-right: $grid-gutter-width-lg/2;
  }
}

// CSS Column Count
@mixin l-columns($count, $gap-width: 0)
{
  columns: $count;
  column-gap: $gap-width;

  & > *
  {
    page-break-inside: avoid;
  }
}

$names: (
  1: one,
  2: two,
  3: three,
  4: four,
) !default;

$grids: (
  half: 2,
  thirds: 3,
  fourths: 4,
) !default;

@mixin l-Split($bp, $gap, $parentclass: &)
{
  @at-root
  {
    @include bpgte($bp)
    {
      #{$parentclass}--#{$bp}
      {
        @include margin(-$gap, (left, right));

        display: flex;

        & > *
        {
          @include padding($gap, (left, right));
        }
      }

      @each $name, $denominator in $grids
      {
        @for $i from 1 through $denominator
        {
          $childName: map-get($names, $i);
          $combined: $parentclass + '--' + $bp + $parentclass + '--' + $name;

          #{$combined} > #{$parentclass}-#{$childName}
          {
            width: percentage($i/$denominator);
          }
        }
      }
    }
  }
}

@mixin font-sizes($font-size, $line-height: 'normal', $font-size-xs: $font-size, $line-height-xs: $line-height, $bp: sm)
{
  font-size: $font-size-xs;
  line-height: $line-height-xs;

  @if $font-size != $font-size-xs or $line-height != $line-height-xs
  {
    @include bpgte($bp)
    {
      font-size: $font-size;
      line-height: $line-height;
    }
  }
}

@mixin link($color-default, $color-visited:$color-default, $color-hover:$color-default, $color-active:$color-default)
{
  color: $color-default;

  &:link
  {
    color: $color-default;
  }

  &:visited
  {
    color: $color-visited;
  }

  &:hover
  {
    color: $color-hover;
  }

  &:active
  {
    color: $color-active;
  }
}

@mixin sr-only()
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;

  // Fixes false WCAG contrast errors
  color: black;
  background: white;
}

@mixin sr-only-focusable()
{
  &:active,
  &:focus
  {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
