.Overlay {
  .yxt-SearchBar-container {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  }

  .Answers-overlaySuggestions.hidden {
    display: none;
  }

  .OverlayPromptButtons {
    padding: var(--yxt-base-spacing);
  }

  .Answers-locationBias {
    padding-left: 88px;
    padding-right: 88px;
  }

  &.shorter .Answers {
    min-height: 0px;

    &-footer {
      display: none;
    }

    &-navWrapper {
      min-height: 0px;
      padding-top: 0;
      background-color: transparent;
      margin-top: -26px;
      border: none;
    }

    &-nav {
      display: none;
    }

    &-resultsWrapper {
      display: none;
    }

    .yxt-AutoComplete {
      max-height: 180px;
      overflow-y: scroll;
    }
  }

  &.taller {
    .Answers-overlaySuggestions {
      display: none;
    }
  }

  &.collapsed {
    overflow: hidden;
  }
}
