/** @define Breadcrumbs */
.Breadcrumbs
{
  &--ace .c-bread-crumbs-item
  {
    display: inline-block;

    &:not(:last-child)::after
    {
        content: url('assets/images/angle.svg'); //TODO @aliang: this should be a param
        vertical-align: -6px;
    }
  }
}
