/** @define Core */

.Core
{
  @include font-sizes(16px, 24px);

  /* postcss-bem-linter: ignore */
  .c-phone-number-link
  {
    @include bplte(xs)
    {
      @include Link;

      font-weight: $font-weight-bold;
    }
  }

  /* postcss-bem-linter: ignore */
  .c-phone-label
  {
    @include Text--bold;
  }

  &-cta
  {
    @include Link;

    display: flex;
    align-items: center;
  }

  &-title
  {
    @include Heading--h1;
  }

  &-hoursToday
  {
    @include Heading--h2;
  }

  &-colHeading
  {
    @include Heading--h3;
    @include Text--bold;
  }

  &-email
  {
    @include Link;
  }

  &-button
  {
    @include Button--primary;
  }

  &-colHeading
  {
    @include font-sizes(24px, 32px, 20px, 28px);

    font-weight: $font-weight-light;
  }

  &-heading
  {
    @include font-sizes(48px, 56px, 28px, 32px);

    font-weight: $font-weight-light;
  }

  /* postcss-bem-linter: ignore */
  .c-hours-today-day-hours-intervals-instance.js-hours-interval-instance
  {
    color: $brand-primary;
    font-weight: $font-weight-bold;
  }

  /* postcss-bem-linter: ignore */
  .c-hours-collapse .c-hours-toggle::after
  {
    color: $brand-primary;
  }
}

.Core--bev .Core
{
  &-col--secondary > .Core-buttons
  {
    margin-top: 16px;
  }

  &-button
  {
    width: min-content;
  }

  &-subCol:first-child
  {
    border-top: $border-default;

    @include bpgte(sm)
    {
      border-top: none;
    }
  }

  &-subCol:not(:last-child)
  {
    border-bottom: $border-default;
  }
}

.Core--chaz .Core
{
  &-colRow
  {
    background-color: #f8f9fa;
  }

  &-bioHeading,
  &-role
  {
    @include font-sizes(24px, 32px, 20px, 28px);

    font-weight: $font-weight-light;
  }

  &-id
  {
    font-weight: $font-weight-bold;
  }

  &-subCol:not(:last-child)
  {
    @include bplte(xs)
    {
      border-bottom: $border-default;
    }
  }

  &-photoWrapper
  {
    @include bplte(xs)
    {
      margin: auto;
    }
  }
}
