/** @define Header */

$header-desktop-break-point-min: sm !default;
$header-mobile-break-point-max: xs !default;

$header-height: 4rem !default;
$header-backgroundColor: $brand-primary !default;

$header-overlayColor: $gray-3 !default;
$header-overlayFocusShadow: inset 0 0 1.5em $brand-primary !default;
$header-overlayTransition: opacity 300ms ease !default;

$header-mobileBackgroundColor: white !default;
$header-mobileTransition: height 300ms ease !default;
$header-mobileLinksBorder: $border-default !default;

$header-logoHeight: 3rem !default;
$header-logoWidth: 3rem !default;

$header-linkSpacingAroundMobile: 1rem !default;
$header-linkSpacingBetweenDesktop: 2rem !default;

$header-toggleBtnHeight: 25px !default;
$header-toggleBtnWidth: 25px !default;
$header-toggleBtnColor: white !default;
$header-toggleBtnBarHeight: 3px !default;
$header-toggleBtnBarSpacing: 8px !default;

.Header
{
  display: flex;
  flex-shrink: 0;

  height: $header-height;

  &-wrapper
  {
    display: flex;

    height: $header-height;
    width: 100%;

    background-color: $header-backgroundColor;

    z-index: 5;

    @include bplte($header-mobile-break-point-max)
    {
      position: relative;
    }
  }

  &.is-open &-wrapper
  {
    position: fixed;
    top: 0;
  }

  &-container
  {
    height: 100%;

    position: relative;
  }

  &-main
  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    @include bpgte($header-desktop-break-point-min)
    {
      position: relative;
    }
  }

  &-main--left
  {
    @include bplte($header-mobile-break-point-max)
    {
      justify-content: flex-start;
    }
  }

  &-main--right
  {
    @include bplte($header-mobile-break-point-max)
    {
      justify-content: flex-end;
    }
  }

  &-overlay
  {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $header-overlayColor;
    transition: $header-overlayTransition;

    &:focus
    {
      box-shadow: $header-overlayFocusShadow;
    }

    &.is-visible
    {
      display: block;
    }
  }

  &.is-open &-overlay
  {
    opacity: 1;
  }

  &-content
  {
    @include bplte($header-mobile-break-point-max)
    {
      height: 0;

      position: absolute;
      top: $header-height;
      left: 0;
      right: 0;
      width: 100%;

      background-color: $header-mobileBackgroundColor;

      overflow: hidden;

      transition: $header-mobileTransition;
    }
  }

  &-logoLink,
  &-logoWrapper
  {
    display: inline-flex;
  }

  &-logoWrapper--centered
  {
    @include bplte($header-mobile-break-point-max)
    {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-logoImage
  {
    height: $header-logoHeight;
    width: $header-logoWidth;
  }

  &-menu
  {
    display: flex;

    @include bplte($header-mobile-break-point-max)
    {
      flex-direction: column;
    }
  }

  &-menuItem
  {
    display: flex;

    &:not(:last-child)
    {
      @include bplte($header-mobile-break-point-max)
      {
        border-bottom: $header-mobileLinksBorder;
      }

      @include bpgte($header-desktop-break-point-min)
      {
        padding-right: $header-linkSpacingBetweenDesktop;
      }
    }
  }

  &-link
  {
    @include bplte($header-mobile-break-point-max)
    {
      width: 100%;
      padding: $header-linkSpacingAroundMobile;
    }
  }

  &-toggle
  {
    @include bplte($header-mobile-break-point-max)
    {
      display: flex;
    }
  }

  &-toggleIcon
  {
    @include bplte($header-mobile-break-point-max)
    {
      position: relative;
      top: $header-toggleBtnBarHeight;

      height: $header-toggleBtnHeight;
      width: $header-toggleBtnWidth;
    }
  }

  &-menuBar
  {
    display: block;

    position: absolute;
    left: 0;

    height: $header-toggleBtnBarHeight;
    width: 100%;

    background: $header-toggleBtnColor;

    border-radius: 0;

    opacity: 1;

    transform: rotate(0deg);
    transition: 300ms ease-in-out;

    &:nth-child(1)
    {
      top: 0 * $header-toggleBtnBarSpacing;
    }

    &:nth-child(2),
    &:nth-child(3)
    {
      top: 1 * $header-toggleBtnBarSpacing;
    }

    &:nth-child(4)
    {
      top: 2 * $header-toggleBtnBarSpacing;
    }
  }

  &.is-open &-menuBar
  {
    &:nth-child(1),
    &:nth-child(4)
    {
      top: 1 * $header-toggleBtnBarSpacing;
      width: 0;
      left: 50%;
    }

    &:nth-child(2)
    {
      transform: rotate(45deg);
    }

    &:nth-child(3)
    {
      transform: rotate(-45deg);
    }
  }
}

// postcss-bem-linter: ignore
.u-header-open,
.u-header-open body
{
  position: fixed;
  overflow: hidden;
}
