/** @define Hero */

// Hero Ace

.Hero
{
  background-repeat: no-repeat;
  background-size: cover;

  &--ace &-row1
  {
    background-size: cover;
    background-position: center center;
  }

  &--ace &-row1--background
  {
    color: white;
  }

  &--ace &-row2
  {
    @include bpgte(sm)
    {
      display: none;
    }
  }

  &--ace &-buttons
  {
    display: flex;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &--ace &-uber
  {
    @include bpgte(sm)
    {
      display: none;
    }
  }

  &--ace &--desktopOnly
  {
    @include bplte(xs)
    {
      display: none;
    }
  }

  &--dill
  {
    text-align: center;
  }

  &--dill &-search
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--dill &-button
  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
  }
}
