/** @define MobileButtonRow */
.MobileCTA
{
  display: flex;
  @include bpgte(sm)
  {
    display: none;
  }

  &--ace .MobileCTA
  {
    &-item
    {
      flex: 0 1 auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: $border-default;
      width: 33%;
    }

    &-link
    {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }

    &-icon
    {
      height: 40px;
    }
  }
}
