/** @define Nearby */

// Nearby Ace
.Nearby
{
  &--ace &-row
  {
    display: flex;
    flex-wrap: wrap;

    &--center
    {
      @include bpgte(md)
      {
        justify-content: center;
      }
    }
  }

  &--ace &-title
  {
    width: 100%;
    text-align: center;
  }

  &--ace &-loc
  {
    @include bplte(xs)
    {
      width: 100%;
    }

    @include bp(sm)
    {
      width: percentage(1 / 2);
    }

  }

  &--ace &-row--center &-loc
  {
    @include bpgte(md)
    {
      width: 25%;
    }
  }

  &--ace &-row--widen &-loc
  {
    @include bpgte(md)
    {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
    }
  }

  &--ace &-linkWrapper
  {
    width: 100%;
    text-align: center;
  }
}
