/** @define NotificationBanner */

$bev-cta-background-color: #0f70f0 !default;
$bev-background-color: #f2f2f2 !default;
$bev-font-color: #12131e !default;

.NotificationBanner--bev
{
  background-color: $bev-background-color;
  color: $bev-font-color;
}

.NotificationBanner--bev .NotificationBanner
{
  &-Button
  {
    @include font-sizes(16px, 24px);
    @include Button--primary;
  }
}
