/** @define Products */

// Products Ace
.Products
{
  &--ace &-row
  {
    display: flex;
    flex-wrap: wrap;

    &--center
    {
      @include bpgte(md)
      {
        justify-content: center;
      }
    }
  }

  &--ace &-title,
  &--ace &-linkWrapper
  {
    width: 100%;
  }

  &--ace &-title
  {
    text-align: center;
  }

  &--ace &-listItem
  {
    @include bplte(xs)
    {
      width: 100%;
    }
  }

  &--ace &-row--center &-listItem
  {
    @include bpgte(sm)
    {
      width: percentage(1 / 3);
    }
  }

  &--ace &-row--widen &-listItem
  {
    @include bpgte(sm)
    {
      flex: 1 1 0;
    }
  }

  &--ace &-linkWrapper
  {
    text-align: center;
  }
}
