@import "vendor";
@import "~font-awesome/scss/variables";

// Core variables and mixins
@import "overlay/module";
@import "common/variables";
@import 'answers-variables-default';
@import '../answers-variables';
@import "common/fonts-default";
@import "../fonts";
@import "common/mixins";
@import "common/base";
@import "module";
@import "formatters/hours-table";

// Utility styling
@import "utils";

// Legacy AEB styling
@import "legacy-aeb/main";

// Theme styling for all Pages
@import "theme";

// Template styling
@import "templates/vertical-map";
@import "templates/universal-standard";
@import "templates/vertical-standard";
@import "templates/vertical-grid";

// Universal Section Template styling
@import "universalsectiontemplates/standard";
@import "universalsectiontemplates/grid-four-columns";
@import "universalsectiontemplates/grid-three-columns";
@import "universalsectiontemplates/grid-two-columns";

// Cards styling
@import "cards/ctas";
@import "cards/event-standard";
@import "cards/location-standard";
@import "cards/standard";
@import "cards/faq-accordion";
@import "cards/job-standard";
@import "cards/link-standard";
@import "cards/menuitem-standard";
@import "cards/product-prominentimage";
@import "cards/professional-standard";
@import "cards/product-standard";
@import "cards/professional-location";
@import "cards/financial-professional-location";
@import "cards/product-prominentimage-clickable";

// Direct Answer Card styling
@import "directanswercards/allfields-standard";
@import "directanswercards/documentsearch-standard";

// Styling for CollapsibleFilters
@import "collapsible-filters/collapsible-filters";
@import "collapsible-filters/collapsible-filters-templates";

// Styling for CollapsibleFilters components
@import "collapsible-filters/filter-link";
@import "collapsible-filters/view-results-button";

// Vertical map component styling
@import 'interactive-map/VerticalFullPageMap.scss';

// HH files
@import "../answers";

// Custom styling outside of the Answers experience
@import "../page.scss";
@import "../header.scss";
@import "../footer.scss";
