// These variables are not meant to be changed by the HH. They are the default values for the theme.
// Variable overrides should be in the answers-variables.scss file.

$container-width: 1000px;

:root {
  // control colors throughout the theme and SDK
  --yxt-color-brand-primary: #5387d7;
  --yxt-color-brand-hover: var(--yxt-color-text-secondary);
  --yxt-color-brand-white: #fff;
  --yxt-color-text-primary: #212121;
  --yxt-color-text-secondary: #757575;
  --yxt-color-link-primary: var(--yxt-color-brand-primary);
  --yxt-color-borders: #d8d8d8;
  --yxt-color-error: #940000;
  --yxt-color-background-highlight: white;

  // theme specific variables
  --hh-answers-background-color: white;
  --hh-answers-container-width: #{$container-width};
  --hh-answers-container-width-filters: 950px;
  --hh-color-gray-1: #dcdcdc;
  --hh-color-gray-2: #fafafa;
  --hh-color-gray-3: #757575;
  --hh-product-tag-text-color: var(--yxt-color-brand-white);
  --hh-product-tag-background-color: var(--hh-color-gray-3);
  --hh-universal-grid-margin: 8px;
  --hh-universal-grid-four-columns-width: calc(calc(100% - var(--hh-universal-grid-margin) * 8)/4);
  --hh-universal-grid-three-columns-width: calc(calc(100% - var(--hh-universal-grid-margin) * 6) / 3);
  --hh-universal-grid-two-columns-width: calc(calc(100% - var(--hh-universal-grid-margin) * 4) / 2);
  --hh-universal-section-title-text-color: var(--yxt-color-text-primary);
  --hh-universal-section-title-background: var(--yxt-color-background-highlight);
  --hh-universal-section-title-icon: var(--yxt-color-brand-primary);
  --hh-view-results-button-hover-color: #4a7ac1;

  // common border variables
  --yxt-border-default: 1px solid var(--yxt-color-borders);
  --yxt-border-radius: 5px;

  // spacing variable, used in padding/margins across the site
  --yxt-base-spacing: 20px;

  // component specific variable overrides
  --yxt-autocomplete-text-font-size: 16px;
  --yxt-results-title-bar-text-color: var(--yxt-color-text-primary);
  --yxt-results-title-bar-background: var(--yxt-color-background-highlight);
  --yxt-searchbar-button-background-color-base: white;
  --yxt-searchbar-button-background-color-hover: white;
  --yxt-searchbar-button-background-color-active: white;
  --yxt-searchbar-button-text-color-hover: var(--yxt-color-brand-primary);
  --yxt-filter-options-options-max-height: none;
  --yxt-filters-and-sorts-font-size: var(--yxt-font-size-md);
  --yxt-alternative-verticals-emphasized-font-weight: var(--yxt-font-weight-semibold);
  --yxt-text-snippet-highlight-color: #eef3fb;
  --yxt-text-snippet-font-color: var(--yxt-color-text-primary);
  --yxt-direct-answer-view-details-font-weight: var(--yxt-font-weight-normal);
  --yxt-search-loading-opacity: 0.5;
  --yxt-product-prominentimage-height: 300px;

  // interactive map variables
  --yxt-maps-search-this-area-background-color: white;
  --yxt-maps-search-this-area-text-color: var(--yxt-color-text-primary);
  --yxt-maps-mobile-detail-card-height: 225px;
  --yxt-maps-desktop-results-container-width: 410px;
  --yxt-maps-mobile-results-header-height: 185px;
  --yxt-maps-mobile-results-footer-height: 97px;
  --yxt-maps-desktop-height: 820px;
  --yxt-maps-mobile-height: 620px;
}

// breakpoint variables for use in media queries within the theme styling
$breakpoint-mobile-max: 767px;
$breakpoint-mobile-min: 768px;

$breakpoint-mobile-sm-max: 575px;
$breakpoint-mobile-sm-min: 576px;

$breakpoint-collapsed-filters: $container-width + 279px;
$breakpoint-expanded-filters: $container-width + 280px;
