//
// Module.scss
//
// This file should hold the various reusable modular components of the
// design. These are callouts, icons, sidebar sections, product lists, etc.
//
// These should not have a prefix, and should use descriptive names like
// .sidebar-product, or .about-author

.sr-only
{
  @include sr-only();
}

.sr-only-focusable
{
  @include sr-only-focusable();
}

.HitchhikerCard
{
  &-detailsToggle
  {
      text-align: left;
      margin-top: calc(var(--yxt-base-spacing) / 4);

      @include Text(
          $color: var(--yxt-color-brand-primary),
          $line-height: var(--yxt-line-height-md),
          $style: italic);
      @include TextButton($padding: 0);
  }

  &-actions
  {
    display: flex;
    align-items: flex-end;

    @include bpgte(sm)
    {
      flex-direction: column;
    }
  }

  &-feedbackWrapper
  {
    display: flex;
    flex-grow: 1;
    background-color: var(--yxt-color-background-highlight);
    min-width: 55px;
    @include bpgte(sm)
    {
      margin-left: calc(var(--yxt-base-spacing) / 2);
    }
  }

  &-feedbackContent
  {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    @include bpgte(sm)
    {
      margin-top: calc(var(--yxt-base-spacing) / 2);
    }
  }

  &-feedbackText
  {
    display: inline;
    @include Text(
      $size: var(--yxt-font-size-md),
      $line-height: var(--yxt-line-height-md),
      $weight: var(--yxt-font-weight-normal),
      $color: var(--yxt-color-text-secondary)
    );
    text-align: right;
  }

  &-thumbs
  {
    display: flex;
    margin: 0;
  }

  &-thumbUpIcon
  {
    transform: rotate(180deg);
  }

  &-thumbUpIcon,
  &-thumbDownIcon
  {
    display: inline-flex;
    color: var(--yxt-color-text-secondary);
  }

  &-thumb
  {
    display: inline;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 18px;

    & + &
    {
      margin-left: 8px;
    }
  }

  &-fieldset
  {
    display: inline;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    line-height: 0;
    min-inline-size: min-content;
  }

  &-feedback
  {
    @include Text(
      $color: var(--yxt-color-text-neutral),
    );
    background-color: var(--yxt-color-background-highlight);
    display: none;
  }
}