//
// Module.scss
//
// This file should hold the various reusable modular components of the
// design. These are callouts, icons, sidebar sections, product lists, etc.
//
// These should not have a prefix, and should use descriptive names like
// .sidebar-product, or .about-author

.sr-only
{
  @include sr-only();
}

.sr-only-focusable
{
  @include sr-only-focusable();
}

.HitchhikerCard-detailsToggle
{
    text-align: left;
    margin-top: calc(var(--yxt-base-spacing) / 4);

    @include Text(
        $color: var(--yxt-color-brand-primary),
        $line-height: var(--yxt-line-height-md),
        $style: italic);
    @include TextButton($padding: 0);
}
