// answers theme goes here

.Answers
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  position: relative;
  min-height: calc(30 * var(--yxt-autocomplete-text-font-size)); // min height for autocomplete w 10 items

  &-container
  {
    margin-left: auto;
    margin-right: auto;
    width: var(--hh-answers-container-width);
    max-width: var(--hh-answers-container-max-width);
    
  }

  &-search,
  &-nav
  {
    @include bplte(xs)
    {
      padding-left: var(--yxt-base-spacing);
      padding-right: var(--yxt-base-spacing);
    }
  }

  &-search
  {
    .yxt-SearchBar-container
    {
      border-radius: var(--yxt-border-radius);
    }

    .yxt-SearchBar-form
    {
      height: 52px;
    }

    .yxt-SearchBar-input
    {
      font-size: var(--yxt-font-size-lg);
      padding-left: var(--yxt-base-spacing);
      padding-right: var(--yxt-base-spacing);
    }
  }

  &-nav
  {
    position: relative;
    padding-top: 28px;

    .yxt-Nav-container {
      border-bottom: .0625rem solid var(--yxt-color-borders);

      .yxt-Nav-item {
        margin-bottom: 0px;
        padding-left: var(--yxt-base-spacing);
        padding-right: var(--yxt-base-spacing);
        letter-spacing: 1.1px;
      }

      .yxt-Nav-item.is-active {
        border-bottom-width: .185rem;
      }
    }
  }

  &-navWrapper
  {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--hh-answers-background-color);
    width: 100%;
    padding-top: var(--yxt-base-spacing);
    z-index: $nav-wrapper-z-index;
  }

  &-footer
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: var(--yxt-base-spacing);
    background-color: var(--hh-answers-background-color);
  }

  &-footerLink
  {
    display: flex;
  }

  &-footerLogo
  {
    fill: #0A0B09;
  }

  &-pagination {
    .yxt-Pagination {
      padding-top: calc(var(--yxt-base-spacing) / 2);
    }
  }

  &-resultsHeader {
    display: flex;
    padding-left: var(--yxt-base-spacing);

    .yxt-AppliedFilters,
    .yxt-VerticalResultsCount,
    .Hitchhiker-FilterLink {
      margin-top: calc(var(--yxt-base-spacing) / 2);
      margin-bottom: calc(var(--yxt-base-spacing) / 4);
    }
  }

  &-results {
    font-weight: var(--yxt-font-weight-light);
  }

  &-verticalResultsCount {
    margin-right: var(--yxt-base-spacing-sm);
  }

  &-qaSubmission {
    .yxt-QuestionSubmission {
      border-radius: var(--yxt-border-radius);
      overflow: hidden;
    }

    .yxt-QuestionSubmission-titleIconWrapper {
      display: none;
    }

    .yxt-QuestionSubmission-title {
      text-transform: none;
    }

    .yxt-QuestionSubmission-formLabel {
      font-weight: var(--yxt-font-weight-semibold)
    }
  }
}
