// answers theme goes here

 // This variable does not change the filters width. It is simply used for calculation
$filters-width: 242px;
$container-width-at-collapsed-filters-breakpoint: $breakpoint-collapsed-filters - (2 * $filters-width);

.Answers
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  position: relative;
  min-height: calc(30 * var(--yxt-autocomplete-text-font-size)); // min height for autocomplete w 10 items

  &-container
  {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--hh-answers-container-width);
    width: 100%;

    @media (min-width: #{$breakpoint-expanded-filters}) {
      width: $container-width-at-collapsed-filters-breakpoint / $breakpoint-collapsed-filters * 100%;
    }
  }

  &-search,
  &-nav
  {
    @include bplte(xs)
    {
      padding-left: var(--yxt-base-spacing);
      padding-right: var(--yxt-base-spacing);
    }
  }

  &-search
  {
    .yxt-SearchBar-container
    {
      border-radius: var(--yxt-border-radius);
    }

    .yxt-SearchBar-form
    {
      height: 53px;
    }

    .yxt-SearchBar-input
    {
      padding-left: var(--yxt-base-spacing);
      padding-right: var(--yxt-base-spacing);
      font-size: var(--yxt-font-size-lg);
    }
  }

  &-nav
  {
    position: relative;
    padding-top: 28px;

    .yxt-Nav-container {
      border-bottom: .0625rem solid var(--yxt-color-borders);

      .yxt-Nav-item {
        margin-bottom: 0px;
        padding-left: var(--yxt-base-spacing);
        padding-right: var(--yxt-base-spacing);
        padding-bottom: calc(var(--yxt-base-spacing) * 0.2);
        letter-spacing: 1.1px;
      }

      .yxt-Nav-item.is-active {
        border-bottom-width: .185rem;
      }
    }
  }

  &-navWrapper
  {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--hh-answers-background-color);
    width: 100%;
    padding-top: var(--yxt-base-spacing);
    z-index: $nav-wrapper-z-index;
  }

  &-footer
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: var(--yxt-base-spacing);
    background-color: var(--hh-answers-background-color);
  }

  &-footerLink
  {
    display: flex;
  }

  &-footerLogo
  {
    fill: #0A0B09;
  }

  &-pagination {
    .yxt-Pagination {
      padding-top: var(--yxt-base-spacing);
    }
  }

  &-resultsHeader {
    display: flex;
    padding-left: var(--yxt-base-spacing);

    .yxt-AppliedFilters,
    .yxt-VerticalResultsCount,
    .Hitchhiker-FilterLink {
      margin-top: calc(var(--yxt-base-spacing) / 2);
      margin-bottom: calc(var(--yxt-base-spacing) / 4);
    }
  }

  &-results {
    font-weight: var(--yxt-font-weight-light);
  }

  &-verticalResultsCount {
    margin-right: var(--yxt-base-spacing-sm);
  }

  &-qaSubmission {
    .yxt-QuestionSubmission {
      border-radius: var(--yxt-border-radius);
      overflow: hidden;
      font-weight: var(--yxt-font-weight-light);
    }

    .yxt-QuestionSubmission-title {
      text-transform: none;
      font-weight: var(--yxt-font-weight-normal);
    }

    .yxt-QuestionSubmission-titleDescription {
      font-weight: var(--yxt-font-weight-light);
    }

    .yxt-QuestionSubmission-formLabel {
      font-weight: var(--yxt-font-weight-normal);
    }
  }

  .yxt-AlternativeVerticals
  {
    overflow: hidden;

    &-suggestionLink
    {
      @media (min-width: 47.9375rem)
      {
        font-size: var(--yxt-font-size-md-lg);
      }
    }

    &-universalLink,
    &-noResultsInfo
    {
      font-weight: var(--yxt-font-weight-normal);
    }
  }

  .yxt-FilterOptions-optionLabel,
  .yxt-SortOptions-optionLabel {
    font-size: var(--yxt-filters-and-sorts-font-size);
  }
}
