// answers theme goes here

.Answers
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  position: relative;
  min-height: calc(30 * var(--yxt-autocomplete-text-font-size)); // min height for autocomplete w 10 items

  &-container
  {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include bpgte(sm)
    {
      width: var(--hh-answers-container-width);
    }
  }

  &-search,
  &-nav
  {
    @include bplte(xs)
    {
      padding-left: var(--hh-base-spacing);
      padding-right: var(--hh-base-spacing);
    }
  }

  &-nav
  {
    position: relative;
    padding-top: 32px;
  }

  &-navWrapper
  {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #dcdcdc;
    background-color: var(--hh-answers-background-color);
    width: 100%;
    padding-top: var(--hh-base-spacing);
    z-index: 99;
  }

  &-footer
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: var(--hh-base-spacing);
    background-color: var(--hh-answers-background-color);
  }

  &-pagination {
    padding-top: calc(var(--hh-base-spacing) / 2);
  }
}
