$breakpoint-mobile-max: 767px;
$breakpoint-mobile-min: 768px;

$breakpoint-mobile-sm-max: 575px;
$breakpoint-mobile-sm-min: 576px;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

:root {
  --hh-font-weight-bold: #{$font-weight-bold};
  --hh-font-weight-semibold: #{$font-weight-semibold};
  --hh-font-weight-medium: #{$font-weight-medium};
  --hh-font-weight-normal: #{$font-weight-normal};
  --hh-font-weight-light: #{$font-weight-light};

  --hh-font-size-xs: 10px;
  --hh-font-size-sm: 12px;
  --hh-font-size-md: 14px;
  --hh-font-size-md-lg: 16px;
  --hh-font-size-lg: 18px;
  --hh-font-size-xlg: 20px;
  --hh-font-size-xxlg: 40px;

  --hh-line-height-xs: 1;
  --hh-line-height-sm: 1.2;
  --hh-line-height-md-sm: 4/3;
  --hh-line-height-md: 1.4;
  --hh-line-height-lg: 1.5;
  --hh-line-height-xlg: 5/3;
  --hh-line-height-xxlg: 1.7;

  --hh-font-family: system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --hh-color-background-highlight: #fafafa;
  --hh-color-background-dark: #A8A8A8;
  --hh-color-brand-primary: #0f70f0;
  --hh-color-brand-hover: #0C5ECB;
  --hh-color-brand-white: #fff;

  --hh-color-text-primary: #212121;
  --hh-color-text-secondary: #757575;

  --hh-color-link-primary: var(--hh-color-brand-primary);

  --hh-color-borders: #dcdcdc;

  --hh-color-error: #940000;

  --hh-base-spacing-sm: 12px;
  --hh-base-spacing: 16px;

  --hh-module-footer-height: 24px;
  --hh-module-container-height: 20px;

  --hh-border-default: 1px solid var(--hh-color-borders);
  --hh-border-legacy: 1px solid #e9e9e9;

  --hh-z-index-nav-more-modal: 2;

  --hh-button-focus-border-size: 3px;

  --hh-container-desktop-base: 400px;
}
