$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-medium: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-md: 14px !default;
$font-size-md-lg: 16px !default;
$font-size-lg: 18px !default;
$font-size-xlg: 20px !default;
$font-size-xxlg: 40px !default;

$line-height-xs: 1 !default;
$line-height-sm: 1.2 !default;
$line-height-md-sm: 4/3 !default;
$line-height-md: 1.4 !default;
$line-height-lg: 1.5 !default;
$line-height-xlg: 5/3 !default;
$line-height-xxlg: 1.7 !default;

$font-family: system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !default;

$color-background-highlight: #fafafa !default;
$color-background-dark: #A8A8A8 !default;
$color-brand-primary: #0f70f0 !default;
$color-brand-hover: #0C5ECB !default;
$color-brand-white: #fff !default;

$color-text-primary: #212121 !default;
$color-text-secondary: #757575 !default;

$color-link-primary: $color-brand-primary !default;

$color-borders: #dcdcdc !default;

$color-error: #940000 !default;

$base-spacing-sm: 12px !default;
$base-spacing: 16px !default;

$module-footer-height: 24px !default;
$module-container-height: 20px !default;

$border-default: 1px solid $color-borders !default;
$border-legacy: 1px solid #e9e9e9 !default;

$breakpoint-mobile-max: 767px !default;
$breakpoint-mobile-min: 768px !default;

$breakpoint-mobile-sm-max: 575px !default;
$breakpoint-mobile-sm-min: 576px !default;
$z-index-nav-more-modal: 2 !default;

$button-focus-border-size: 3px !default;

$container-desktop-base: 400px !default;
