
{{#> layouts/html }}
  <div>
    {{#> script/core }}
      {{> cards/all}}
      {{> templates/locator/script/searchbar }}
      {{> templates/locator/script/spellcheck }}
      {{> templates/locator/script/navigation }}
      {{!-- {{> templates/locator/script/facets}} --}}
      {{!-- {{> templates/locator/script/filterbox}} --}}
      {{> templates/locator/script/verticalresults }}
      {{> templates/locator/script/pagination}}
      {{!-- {{> templates/locator/script/qasubmission}} --}}
      {{> templates/locator/script/map}}
      {{> templates/locator/script/locationbias }}
    {{/script/core}}
    <div class="Answers AnswersLocatorTemplate">
      <div class="Answers-navWrapper">
        <div class="Answers-container">
          {{> templates/locator/markup/searchbar }}
          {{> templates/locator/markup/navigation}}
        </div>
      </div>
      <div class="Answers-resultsWrapper">
        <div class="Answers-resultsColumn">
          {{> templates/locator/markup/spellcheck }}
          {{!-- {{> templates/locator/markup/facets}} --}}
          {{!-- {{> templates/locator/markup/filterbox}} --}}
          {{> templates/locator/markup/verticalresults }}
          {{> templates/locator/markup/pagination }}
          {{!-- {{> templates/locator/markup/qasubmission }} --}}
        </div>
        {{> templates/locator/markup/map }}
      </div>
    </div>
    <footer class="Answers-footer">
      {{> templates/locator/markup/locationbias }}
    </footer>
  </div>
{{/layouts/html}}
