{{#> html_layout }}
  {{#> script_core }}
    {{> cards_locator_component }}
    {{> templates_vertical_script_searchbar}}
    {{> templates_vertical_script_spellcheck}}
    {{> templates_vertical_script_verticalresults}}
    {{> templates_vertical_script_pagination}}
    {{> templates_vertical_script_map}}
  {{/script_core}}
  <div style="display:flex;">
    <div style="width:50%;">
      {{> templates_vertical_markup_searchbar }}
      {{> templates_vertical_markup_spellcheck }}
      {{> templates_vertical_markup_verticalresults }}
      {{> templates_vertical_markup_pagination }}
    </div>
    {{> templates_vertical_markup_map }}
  </div>
{{/html_layout }}