<div>
  {{#> script_core }}
    {{> templates_universal_script_searchbar }}
    {{> templates_universal_script_spellcheck }}
    {{> templates_universal_script_navigation }}
    {{> templates_universal_script_universalresults }}
    {{> templates_universal_script_qasubmission }}
  {{/script_core}}
  <div class="answers-container">
    {{> templates_universal_markup_searchbar }}
    {{> templates_universal_markup_spellcheck }}
    {{> templates_universal_markup_navigation}}
    {{> templates_universal_markup_universalresults }}
    {{> templates_universal_markup_qasubmission }}
  </div>
</div>