{{#> layouts/html }}
  <div>
    {{#> script/core }}
      {{> templates/universal/script/searchbar }}
      {{> templates/universal/script/spellcheck }}
      {{> templates/universal/script/navigation }}
      {{!-- {{> templates/universal/script/directanswer }} --}}
      {{> templates/universal/script/universalresults }}
      {{> templates/universal/script/locationbias}}
      {{!-- {{> templates/universal/script/qasubmission }} --}}
    {{/script/core}}
    <div class="Answers AnswersUniversalTemplate">
      <div class="Answers-navWrapper">
        <div class="Answers-container">
          {{> templates/universal/markup/searchbar }}
          {{> templates/universal/markup/navigation}}
        </div>
      </div>
      <div class="Answers-container Answers-resultsWrapper">
        {{> templates/universal/markup/spellcheck }}
        <div class="Answers-filtersAndResults">
          {{!-- {{> templates/universal/markup/directanswer }} --}}
          {{> templates/universal/markup/universalresults }}
        </div>
        {{!-- {{> templates/universal/markup/qasubmission }} --}}
      </div>
    </div>
    <footer class="Answers-footer">
      {{> templates/universal/markup/locationbias }}
    </footer>
  </div>
{{/layouts/html}}