// This file contains styling mixins that are provided for convenience
// They are meant to be overridden or replaced

// Utility Mixins:

@import 'util/UtilityMixins';

@mixin u_styling {
  text-decoration: underline;
}

@mixin list_styling
{
  display: block;
  flex-direction: column;
  list-style-position: outside;
  margin-left: var(--yxt-base-spacing);
  margin-top: calc(var(--yxt-base-spacing) / 2);
  margin-bottom: calc(var(--yxt-base-spacing) / 2);
}

@mixin strong_styling
{
  font-weight: var(--yxt-font-weight-normal);
}

@mixin em_styling
{
  font-style: italic;
}

@mixin header_styling
{
  display: block;
  margin-block-start: .33em;
  margin-block-end: .33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: var(--yxt-font-weight-semibold);
}

@mixin rich_text_formatting
{
  ul
  {
    @include list_styling;
    list-style-type: disc;
  }

  ol
  {
    @include list_styling;
    list-style-type: decimal;
  }

  li
  {
    margin-bottom: calc(var(--yxt-base-spacing) / 2);
    margin-left: var(--yxt-base-spacing);
  }

  b,
  strong
  {
    @include strong_styling;
  }

  em
  {
    @include em_styling;
  }

  u
  {
    @include u_styling;
  }

  a
  {
    color: var(--yxt-color-brand-primary);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      background: var(--yxt-color-text-secondary);
      border-radius: 4px;
    }
  }

  p
  {
    margin-bottom: var(--yxt-base-spacing);
  }

  // If a 'p' is a child of a 'li', set margin-bottom to 0 and instead rely on the
  // margin-bottom of the 'li'
  li > p
  {
    margin-bottom: 0;
  }

  s
  {
    text-decoration: line-through;
  }

  sup
  {
    vertical-align: super;
    font-size: smaller;
  }

  sub 
  {
    vertical-align: sub;
    font-size: smaller;
  }

  code 
  {
    font-family: monospace;
    font-size: smaller;
  }

  pre 
  {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
  }

  blockquote 
  {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: var(--yxt-base-spacing);
    margin-inline-end: var(--yxt-base-spacing);
  }

  h1 
  {
    @include header_styling;
    font-size: var(--yxt-font-size-xlg);
  }

  h2 
  {
    @include header_styling;
    font-size: var(--yxt-font-size-lg);
  }

  h3 
  {
    @include header_styling;
    font-size: var(--yxt-font-size-md-lg);
  }

  h4 
  {
    @include header_styling;
    font-size: var(--yxt-font-size-md);
  }

  h5 
  {
    @include header_styling;
    font-size: var(--yxt-font-size-sm);
  }

  h6 
  {
    @include header_styling;
    font-size: var(--yxt-font-size-xs);
  }

  img {
    margin-top: calc(var(--yxt-base-spacing) / 2);
  }
}

@mixin Text(
  $size: var(--yxt-font-size-md),
  $line-height: var(--yxt-line-height-xs),
  $weight: var(--yxt-font-weight-normal),
  $style: normal,
  $color: var(--yxt-color-text-primary)
) {
  font-family: var(--yxt-font-family);
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin TextButton(
  $padding: 5px 10px,
  $focus-color: var(--yxt-color-brand-hover)
) {
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: $padding;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: $focus-color;
      border: 1px solid $focus-color;
    }
  }
}

@mixin Link {
  color: var(--yxt-color-brand-primary);

  &:hover,
  &:focus,
  &:active
  {
    color: var(--yxt-color-brand-primary);
    text-decoration: underline;
  }
}

@mixin vertical_filter_group_bottom_border {
  border-bottom: var(--yxt-border-default);
  padding-bottom: 8px;
}
